<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- INICIO HEAD -->
<head th:replace="layout/layout :: head"></head>
<!-- FIN HEAD -->

<body class="no-skin">

	<!-- INICIO ENCABEZADO -->
	<div th:replace="layout/layout :: header"></div>
	<!-- FIN ENCABEZADO -->

	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.loadState('main-container')
			} catch (e) {
			}
			
			function validarDatos() {
				
				var mensaje = "";
				
				var proveedor = $('select[name="proveedor"]').val();
				if((isNaN(proveedor) || proveedor <= 0)){
					mensaje = "Seleccione el proveedor";
				}
				
				var bodegaOrigen = $('select[name="bodegaOrigen"]').val();
				if((isNaN(bodegaOrigen) || bodegaOrigen <= 0)){
					if (mensaje == ""){
						mensaje = "Seleccione la Bodega de Origen"
					}else{
						mensaje += "\nSeleccione la Bodega de Origen"
					}
				}
				
				if (mensaje != ""){
					alert(mensaje);
					return false;
				}
				
				return true;
				
			}
		</script>

		<!-- INICIO MENU -->
		<!-- <div th:replace="layout/layout :: nav"></div> -->
		<!-- FIN MENU -->

		<div class="main-content">
			<div class="main-content-inner">
				<!-- INICIO INICIO -->
				<!-- <div th:replace="layout/layout :: inicio"></div> -->
				<!-- FIN INICIO -->

				<div class="page-content">
					<!-- INICIO CONFIGURACION -->
					<div th:replace="layout/layout :: configuracion"></div>
					<!-- FIN CONFIGURACION -->

					<div class="page-header">
						<h1>
							Ventas <small><i
								class="ace-icon fa fa-angle-double-right"></i> Impresión de ventas </small>
						</h1>
					</div>
					<!-- /.page-header -->

					<!-- /.page-validation -->
					<div th:object="${factura}" th:remove="tag">
						<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
							<li th:each="err: ${#fields.errors('*')}" th:text="${err}">
							</li>
						</ul>
					</div>
					<div th:object="${factura}" th:remove="tag">
						<ul th:if="${error} != null" class="alert alert-danger">
							<li th:text="${error}"></li>
						</ul>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<!-- /.row -->

							<div class="row center-block">
								<div class="col-xs-10">
									<!-- div.table-responsive modal-footer no-margin-top-->
									<form th:action="@{/ventas/ventas-form_id}" th:object="${factura}" method="post">

										<div class="form-group row">
											<input type="hidden" name="id" class="form-control" th:field="*{facturaId}"/>
											<label for="numero" class="col-sm-1 col-form-label" th:text="'Numero'"></label>
											<div class="col-sm-2">
												<input type="text" name="numero" disabled="disabled"
													class="form-control" th:field="*{numero}"
													placeholder="Numero" />
											</div>

											<label for="cliente" class="col-sm-1 col-form-label"
												th:text="'Cliente'"></label>
											<div>
												<select th:field="*{cliente}" class="col-sm-4" name="proveedor" disabled="disabled">
													<option value="0">Seleccione Cliente</option>
													<option th:each="listCli: ${ListClientes}"
														th:value="${listCli.clienteId}"
														th:text="${listCli.razonSocial}" />
												</select>
											</div>
										</div>
										<div class="form-group row">
											<label for="bodega" class="col-sm-1 col-form-label" th:text="'Bodega'"></label>
											<div>
												<select th:field="*{bodega}" class="col-sm-3" name="bodega" disabled="disabled">
													<option value="0">Seleccione la Bodega</option>
													<option th:each="listBodega: ${listBodegas}"
														th:value="${listBodega.bodegaId}"
														th:text="${listBodega.descripcion}" />
												</select>
											</div>
										</div>
										<div class="form-group row">
											<label for="observacion" class="col-sm-1 col-form-label"
												th:text="'Observación'"></label>
											<div class="col-sm-4">
												<textarea cols="40" th:field="*{observaciones}" disabled="disabled"
													class="form-control" placeholder="Observaciones"></textarea>
											</div>
										</div>

										<div class="form-group row">
											<label class="col-sm-1 col-form-label">Estado: </label>
											<div class="col-sm-2">
												<input disabled="disabled" type="text"
													class="form-control" th:field="*{estadoFac.descripcion}"/>
											</div>
										<div>
											<table id="cargarItemOC"
												class="table table-sm table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th>Codigo</th>
														<th>Producto</th>
														<th>Costo</th>
														<th>Cantidad</th>
														<th>Total</th>
														<th></th>
													</tr>
												</thead>

												<tbody>
													<tr th:each="linea: ${factura.items}">
														<td th:text="${linea.maestra.codigo}"></td>
														<td th:text="${linea.maestra.nombre}"></td>
														<td th:text="${linea.precioForm()}"></td>
														<td th:text="${linea.cantidad}"></td>
														<td th:text="${linea.totalItemForm()}"></td>
														<td>
														

														<!-- INICIO BOTONES DETALLE -->
														<div th:replace="layout/layout :: botones"></div>
														<!-- FIN BOTONES DETALLE -->
														
													</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div align="right">
											<div class="form-group row">
												<label class="col-sm-2 col-form-label">Total Factura: </label>
												<div class="col-sm-2">
													<input disabled="disabled" type="text" name="total"
														class="form-control float-right" th:field="*{totalOrden}" />
												</div>
											</div>
										</div>
										
										<div class="form-group row">
											<a th:href="@{/ventas/imprimir/} + *{facturaId}" target="_blank" onclick="return confirm('¿Desea imprimir el registro seleccionado?');">
												<button name="accion" class="btn btn-primary" type="button"
													value="imprimir">
													<i class="fa fa-print"></i> Imprimir
												</button>
											</a>
										</div>
									</form>

								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>

						<!-- PAGE CONTENT ENDS -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		</div>
	</div>
	<!-- /.main-content -->

	<!-- INICIO FOOTER -->
	<!-- <footer th:replace="layout/layout :: footer"></footer> -->
	<!-- INICIO FOOTER -->

	<!-- <script th:replace="layout/js/autocompletar-maestras :: autoMaestra"></script> -->

</body>
</html>