<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- INICIO HEAD -->
<head th:replace="layout/layout :: head"></head>
<!-- FIN HEAD -->

<body class="no-skin">

	<!-- INICIO ENCABEZADO -->
	<div th:replace="layout/layout :: header"></div>
	<!-- FIN ENCABEZADO -->

	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.loadState('main-container')
			} catch (e) {
			}
			
			function validarDatos() {
				
				var mensaje = "";
				
				var bodega = $('select[name="bodega"]').val();
				if((isNaN(bodega) || bodega <= 0)){
					mensaje = "Seleccione la Bodega";
				}
				/*
				var tipoMovimiento = $('select[name="tipoMovimiento"]').val();
				if((isNaN(tipoMovimiento) || tipoMovimiento <= 0)){
					if (mensaje == ""){
						mensaje = "Seleccione el Tipo de Movimiento"
					}else{
						mensaje += "\nSeleccione el Tipo de Movimiento"
					}
				}
				
				var bodegaOrigen = $('select[name="bodegaOrigen"]').val();
				if((isNaN(bodegaOrigen) || bodegaOrigen <= 0)){
					if (mensaje == ""){
						mensaje = "Seleccione la Bodega de Origen"
					}else{
						mensaje += "\nSeleccione la Bodega de Origen"
					}
				}
				*/
				if (mensaje != ""){
					alert(mensaje);
					return false;
				}
				
				return true;
				
			}
			
		</script>

		<!-- INICIO MENU -->
		<div th:replace="layout/layout :: nav"></div>
		<!-- FIN MENU -->

		<div class="main-content">
			<div class="main-content-inner">
				<!-- INICIO INICIO -->
				<!-- <div th:replace="layout/layout :: inicio"></div> -->
				<!-- FIN INICIO -->

				<div class="page-content">
					<!-- INICIO CONFIGURACION -->
					<div th:replace="layout/layout :: configuracion"></div>
					<!-- FIN CONFIGURACION -->

					<div class="page-header">
						<h1>
							Ventas <small><i
								class="ace-icon fa fa-angle-double-right"></i> Opciones de reportes de ventas </small>
						</h1>
					</div>
					<!-- /.page-header -->

					<!-- /.page-validation -->
					
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<!-- /.row -->

							<div class="row center-block">
								<div class="col-xs-10">
									<div class="form-group row">
										<a class="btn btn-link" th:href="@{/ventas/reportes/rep-ventas-rango-form}">Ventas por rango de fechas</a>
									</div>
									<div class="form-group row">
										<a class="btn btn-link" th:href="@{/ventas/reportes/rep-ventas-dia-form}">Ventas diarias</a>
									</div>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>

						<!-- PAGE CONTENT ENDS -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		</div>
	</div>
	<!-- /.main-content -->

	<!-- INICIO FOOTER -->
	<footer th:replace="layout/layout :: footer"></footer>
	<!-- INICIO FOOTER -->

	<!-- <script th:replace="layout/js/autocompletar-maestras :: autoMaestra"></script> -->

</body>
</html>