<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- INICIO HEAD -->
<head th:replace="layout/layout :: head"></head>
<!-- FIN HEAD -->

<body class="no-skin">

	<!-- INICIO ENCABEZADO -->
	<div th:replace="layout/layout :: header"></div>
	<!-- FIN ENCABEZADO -->

	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.loadState('main-container')
			} catch (e) {
			}
		</script>

		<!-- INICIO MENU -->
		<!-- <div th:replace="layout/layout :: nav"></div> -->
		<!-- FIN MENU -->

		<div class="main-content">
			<div class="main-content-inner">
				<!-- INICIO INICIO -->
				<!-- <div th:replace="layout/layout :: inicio"></div> -->
				<!-- FIN INICIO -->

				<div class="page-content">
					<!-- INICIO CONFIGURACION -->
					<div th:replace="layout/layout :: configuracion"></div>
					<!-- FIN CONFIGURACION -->
					
					<div class="page-header">
						<h1> Ventas 
							<small><i class="ace-icon fa fa-angle-double-right"></i> Reporte de ventas por rango de fechas</small>
						</h1>
					</div>
					<!-- /.page-header -->
					
					<!-- INICIO VALIDACIONES -->
					<div th:replace="layout/layout :: validaciones"></div>
					<!-- FIN VALIDACIONES -->

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<!-- /.row -->

							<div class="row">
								<div class="col-xs-12">
								
									<!-- div.table-responsive modal-footer no-margin-top-->
									<div class="modal-footer no-margin-top">
									<table>
										<tr>
											<td>
												<button th:onclick="window.location.href='/ventas/reportes/rep-ventas-rango-form'" class="btn btn-sm btn-success pull-left" data-dismiss="modal">
													<i class="ace-icon fa fa-newspaper-o"></i> Nueva Consulta
												</button>
											</td>
											<td>
												<form th:action="@{/ventas/reportes/rep-ventas-rango-ver-pdf?format=pdf}" target="_blank" th:object="${facturaRep}" method="post">
													<div class="modal-footer no-margin-top"> 
														<button type="submit" class="btn btn-sm btn-primary pull-left" data-dismiss="modal">
															<i class="ace-icon fa fa-print"></i> Imprimir
														</button>
													</div>
												</form>
											</td>
										</tr>
									</table>
									</div>
									
									<!-- div.dataTables_borderWrap -->
									<div>
										<div th:each="bodegaFac: ${listBodegaFac}">
											<h1> Bodega: 
												<tr>
													<td class="hidden-480 small" th:text=" ${bodegaFac.bodega.descripcion}"></td>
												</tr>
											</h1>
									
											<table id="dynamic-table"
												class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th style="width: 8%"class="text-center">Numero</th>
														<th style="width: 32%"class="text-center">Cliente</th>
														<th style="width: 8%" class="hidden-480 text-center">Fecha</th>
														<th style="width: 22%" class="hidden-480 text-center">Usuario</th>
														<th style="width: 20%" class="hidden-480 text-center">Observaciones</th>
														<th style="width: 10%" class="hidden-480 text-center">Valor Total</th>
													</tr>
												</thead>
	
												<tbody>
													<tr th:each="factura: ${bodegaFac.facturaItems}">
														<td><a class="btn btn-link" th:href="@{/ventas/imprimir/} + ${factura.facturaId}" target="_blank" th:text="${factura.numero}"></a></td>
														<td class="text-left" th:text="${factura.cliente.razonSocial}"></td>
														<td class="text-center" th:text="${factura.getFechaFacturaFormat()}"></td>
														<td class="text-left" th:text="${factura.usuario.nombres + ' ' + factura.usuario.apellidos}"></td>
														<td class="text-left" th:text="${factura.observaciones}"></td>
														<td class="text-right" th:text="${factura.getTotalOrden()}"></td>
													</tr>
												</tbody>
											</table>
											<div class="page-header">
										<h1> Venta Bodega: 
											<tr>
												<td class="hidden-480 small" th:text=" ${bodegaFac.getTotalBodega()}"></td>
											</tr>
										</h1>
									</div>
										</div>
									</div>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>

						<!-- PAGE CONTENT ENDS -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		</div>
	</div>
	<!-- /.main-content -->

	<!-- INICIO FOOTER -->
	<footer th:replace="layout/layout :: footer"></footer>
	<!-- INICIO FOOTER -->
</body>
</html>

