<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- INICIO HEAD -->
<head th:replace="layout/layout :: head"></head>
<!-- FIN HEAD -->

<body class="no-skin">

	<!-- INICIO ENCABEZADO -->
	<div th:replace="layout/layout :: header"></div>
	<!-- FIN ENCABEZADO -->

	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.loadState('main-container')
			} catch (e) {
			}
			
			function validarDatos() {
				
				var mensaje = "";
				/*
				var bodega = $('select[name="bodega"]').val();
				if((isNaN(bodega) || bodega <= 0)){
					mensaje = "Seleccione la Bodega";
				}
				
				var tipoMovimiento = $('select[name="tipoMovimiento"]').val();
				if((isNaN(tipoMovimiento) || tipoMovimiento <= 0)){
					if (mensaje == ""){
						mensaje = "Seleccione el Tipo de Movimiento"
					}else{
						mensaje += "\nSeleccione el Tipo de Movimiento"
					}
				}
				
				var bodegaOrigen = $('select[name="bodegaOrigen"]').val();
				if((isNaN(bodegaOrigen) || bodegaOrigen <= 0)){
					if (mensaje == ""){
						mensaje = "Seleccione la Bodega de Origen"
					}else{
						mensaje += "\nSeleccione la Bodega de Origen"
					}
				}
				*/
				if (mensaje != ""){
					alert(mensaje);
					return false;
				}
				
				return true;
				
			}
			
		</script>

		<!-- INICIO MENU -->
		<div th:replace="layout/layout :: nav"></div>
		<!-- FIN MENU -->

		<div class="main-content">
			<div class="main-content-inner">
				<!-- INICIO INICIO -->
				<!-- <div th:replace="layout/layout :: inicio"></div> -->
				<!-- FIN INICIO -->

				<div class="page-content">
					<!-- INICIO CONFIGURACION -->
					<div th:replace="layout/layout :: configuracion"></div>
					<!-- FIN CONFIGURACION -->

					<div class="page-header">
						<h1>
							Ventas <small><i
								class="ace-icon fa fa-angle-double-right"></i> Reporte diario de ventas</small>
						</h1>
					</div>
					<!-- /.page-header -->

					<!-- /.page-validation -->
					
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<!-- /.row -->

							<div class="row center-block">
								<div class="col-xs-10">
									<!-- div.table-responsive modal-footer no-margin-top-->
									<form th:action="@{/ventas/reportes/rep-ventas-dia-ver}" th:object="${facturaRep}" method="post">

										<div class="form-group row">
											<label for="cliente" class="col-sm-2 col-form-label"
												th:text="'Cliente'"></label>
											<div>
												<select th:field="*{cliente}" class="col-sm-4" name="cliente">
													<option value="0">Todos los Clientes</option>
													<option th:each="listCli: ${ListCliente}"
														th:value="${listCli.clienteId}"
														th:text="${listCli.razonSocial}" />
												</select>
											</div>
										</div>
										
										<div class="form-group row">
											  
											<label for="usuario" class="col-sm-2 col-form-label" th:text="'Usuario'"></label>
											<div>
												<select th:field="*{usuario}" class="col-sm-5" name="usuario" th:disabled="${facturaRep.todos == false} ? 'disabled'">
													<option value="0">Todas los Usuarios</option>
													<option th:each="usuario: ${listUsuarios}"
														th:value="${usuario.usuarioId}"
														th:text="${usuario.nombres + ' ' + usuario.apellidos}" />
												</select>
											</div>
										</div>
										
										<div class="form-group row">
											<label for="bodega" class="col-sm-2 col-form-label" th:text="'Bodega'"></label>
											<div>
												<select th:field="*{bodega}" class="col-sm-5" name="bodega" th:disabled="${facturaRep.todos == false} ? 'disabled'">
													<option value="0">Seleccione la Bodega</option>
													<option th:each="listBodega: ${listBodegas}"
														th:value="${listBodega.bodegaId}"
														th:text="${listBodega.descripcion}" />
												</select>
											</div>
										</div>
										
										<div class="form-group row">
											<label for="Fecha Inicial" class="col-sm-2 col-form-label"
												th:text="'Fecha Reporte'"></label>
											<div class="col-sm-2">
												<input type="text" name="fechaInicial" readonly
													class="form-control" th:field="*{fechaInicial}"/>
													
													<script>
														$.datepicker.regional['es'] = {
															 closeText: 'Cerrar',
															 prevText: '< Ant',
															 nextText: 'Sig >',
															 currentText: 'Hoy',
															 monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
															 monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
															 dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
															 dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
															 dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
															 weekHeader: 'Sm',
															 dateFormat: 'dd/mm/yy',
															 firstDay: 1,
															 isRTL: false,
															 showMonthAfterYear: false,
															 yearSuffix: ''
														};
												        $('#fechaInicial').datepicker({
												            format: 'dd/mm/yyyy',
												            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
												        });
												    </script>
											</div>
											

										</div>
										
										<div class="form-group row">
											<button name="accion" class="btn btn-warning" type="submit"
												value="actualizar" onclick="return validarDatos();">
												<i class="fa fa-edit"></i> Generar Reporte
											</button>
										</div>
									</form>

								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>

						<!-- PAGE CONTENT ENDS -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		</div>
	</div>
	<!-- /.main-content -->

	<!-- INICIO FOOTER -->
	<footer th:replace="layout/layout :: footer"></footer>
	<!-- INICIO FOOTER -->

	<!-- <script th:replace="layout/js/autocompletar-maestras :: autoMaestra"></script> -->

</body>
</html>