<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- INICIO HEAD -->
<head th:replace="layout/layout :: head"></head>
<!-- FIN HEAD -->

<body class="no-skin">

	<!-- INICIO ENCABEZADO -->
	<div th:replace="layout/layout :: header"></div>
	<!-- FIN ENCABEZADO -->

	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.loadState('main-container')
			} catch (e) {
			}
		</script>

		<!-- INICIO MENU -->
		<!-- <div th:replace="layout/layout :: nav"></div> -->
		<!-- FIN MENU -->

		<div class="main-content">
			<div class="main-content-inner">
				<!-- INICIO INICIO -->
				<!-- <div th:replace="layout/layout :: inicio"></div> -->
				<!-- FIN INICIO -->

				<div class="page-content">
					<!-- INICIO CONFIGURACION -->
					<div th:replace="layout/layout :: configuracion"></div>
					<!-- FIN CONFIGURACION -->

					<div class="page-header">
						<h1>
							Orden de Compra <small><i
								class="ace-icon fa fa-angle-double-right"></i> Edición de orden
								de compra </small>
						</h1>
					</div>
					<!-- /.page-header -->

					<!-- /.page-validation -->
					<div th:object="${ordenCompra}" th:remove="tag">
						<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
							<li th:each="err: ${#fields.errors('*')}" th:text="${err}">
							</li>
						</ul>
					</div>
					<div th:object="${ordenCompra}" th:remove="tag">
						<ul th:if="${error} != null" class="alert alert-danger">
							<li th:text="${error}">
							</li>
						</ul>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<!-- /.row -->

							<div class="row center-block">
								<div class="col-xs-10">
									<!-- div.table-responsive modal-footer no-margin-top-->
									<form th:action="@{/ordencompra/ordencompra-form}"
										th:object="${ordenCompra}" method="post">

										<div class="form-group row">
											<label for="cliente" class="col-sm-1 col-form-label"
												th:text="'Numero'"></label>
											<div class="col-sm-2">
												<input disabled="disabled" type="text" name="id"
													class="form-control" th:field="*{ordenId}"
													placeholder="Numero" />
											</div>

											<label for="proveedor" class="col-sm-1 col-form-label"
												th:text="'Proveedor'"></label>
											<div class="col-sm-6">
												<select th:field="*{proveedor}" class="col-sm-6" name="proveedor">
													<option value="0">Seleccione Proveedor</option>
													<option th:each="listPro: ${listProveedor}"
														th:value="${listPro.proveedorId}"
														th:text="${listPro.nombre}" />
												</select>
											</div>
										</div>

										<div class="form-group row">
											<label for="observacion" class="col-sm-1 col-form-label"
												th:text="'Observación'"></label>
											<div class="col-sm-4">
												<textarea cols="40" th:field="*{observaciones}"
													class="form-control" placeholder="Observaciones"></textarea>
											</div>
										</div>

										<div class="form-group row">
											<!--
											<label class="col-sm-1 col-form-label">Estado: </label>
											<div class="col-sm-6">
												<select th:field="*{estado}" class="col-sm-4">
													<option value="1">Activo</option>
													<option value="2">Inactivo</option>
													<option value="3">Retirado</option>
												</select>
											</div>
											-->
											<table th:replace="ordencompra/plantilla-items :: items"></table>
										</div>
										
										
										
										<div class="form-group row">
											<label for="buscar_producto"
												class="col-sm-1 col-form-label"
												th:text="'Producto'"></label>
											<div class="col-sm-9">
												<input type="text" id="buscar_producto" name="buscar_producto" class="ui-widget col-sm-9 small" />
											</div>
											<h5 align="left"><span id="errorItem"></span></h5>
										</div>

										<div>
											<table id="cargarItemOC" class="table table-sm table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th style="visibility: hidden;">ID</th>
														<th>Codigo</th>
														<th>Producto</th>
														<th>Costo</th>
														<th>Cantidad</th>
														<th>Total</th>
														<th></th>
													</tr>
												</thead>

												<tbody id="tabla_prod">
												</tbody>
											</table>
											<h5 align="right">Total Orden: <span id="totalOrden">0</span></h5>
										</div>

										

										<div class="form-group row">
											<button name="accion" class="btn btn-warning" type="submit"
												value="actualizar" onclick="return itemHelper.validarNulos();">
												<i class="fa fa-edit"></i> Guardar
											</button>
											<a th:href="@{/ordencompra/ordencompra-listar}">
												<button name="accion" class="btn btn-default" type="button"
													value="cancelar">
													<i class="fa fa-close"></i> Cancelar
												</button>
											</a>
										</div>
									</form>

								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>

						<!-- PAGE CONTENT ENDS -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		</div>
	</div>
	<!-- /.main-content -->

	<!-- INICIO FOOTER -->
	<!-- <footer th:replace="layout/layout :: footer"></footer> -->
	<!-- INICIO FOOTER -->

	<!-- <script th:replace="layout/js/autocompletar-maestras :: autoMaestra"></script> -->

</body>
</html>