<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- INICIO HEAD -->
<head th:replace="layout/layout :: head"></head>
<!-- FIN HEAD -->

<body class="no-skin">

	<!-- INICIO ENCABEZADO -->
	<div th:replace="layout/layout :: header"></div>
	<!-- FIN ENCABEZADO -->

	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.loadState('main-container')
			} catch (e) {
			}
		</script>

		<!-- INICIO MENU -->
		<div th:replace="layout/layout :: nav"></div>
		<!-- FIN MENU -->

		<div class="main-content">
			<div class="main-content-inner">
				<!-- INICIO INICIO -->
				<div th:replace="layout/layout :: inicio"></div>
				<!-- FIN INICIO -->

				<div class="page-content">
					<!-- INICIO CONFIGURACION -->
					<div th:replace="layout/layout :: configuracion"></div>
					<!-- FIN CONFIGURACION -->
					
					<div class="page-header">
						<h1>Usuarios 
							<small><i class="ace-icon fa fa-angle-double-right"></i> Edición de usuarios
							</small>
						</h1>
					</div>
					<!-- /.page-header -->
					
					<!-- /.page-validation -->
					<div th:object="${usuario}" th:remove="tag">
						<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
							<li th:each="err: ${#fields.errors('*')}" th:text="${err}">
							</li>
						</ul>
					</div>
					<div th:object="${movInventario}" th:remove="tag">
						<ul th:if="${error} != null" class="alert alert-danger">
							<li th:text="${error}">
							</li>
						</ul>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<!-- /.row -->

							<div class="row">
								<div class="col-xs-12">
									<!-- div.table-responsive modal-footer no-margin-top-->
									<form th:action="@{/usuarios/usuarios-form}" th:object="${usuario}" method="post" autocomplete="off">
										
										<div class="form-group row">
											<label class="col-sm-1 col-form-label">Codigo:</label>
											<div class="col-sm-2">
												<input type="text" name="id" class="form-control"
													th:field="*{codUsuario}" placeholder="Codigo Usuario" />
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-1 col-form-label">Nombres: </label>
											<div class="col-sm-4">
												<input type="text" th:field="*{nombres}" class="form-control"
													placeholder="Nombres del usuario" />
											</div>
											<label class="col-sm-1 col-form-label">Apellidos: </label>
											<div class="col-sm-4">
												<input type="text" th:field="*{apellidos}" class="form-control"
													placeholder="Apellidos del usuario" />
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-1 col-form-label">Nivel: </label>
											<div class="col-sm-4">
												<select th:field="*{nivel}" class="col-sm-6">
													<option value="0">Seleccione Nivel</option> 
													<option th:each="n: ${niv}" th:value="${n.nivelId}"th:text="${n.descripcion}"/> 
												</select>
								           </div>
											<label class="col-sm-1 col-form-label">Dependencia: </label>
											<div class="col-sm-4">
												<input type="text" th:field="*{dependencia}" class="form-control"
													placeholder="Dependencia" />
											</div>
										</div>
										
										<div class="form-group row">
											<label class="col-sm-1 col-form-label">Bodega: </label>
											<div class="col-sm-6">
												<select th:field="*{bodegaId}" class="col-sm-6">
													<option value="0">Seleccione Bodega Nulo para todas</option> 
													<option th:each="bod: ${bodegas}" th:value="${bod.bodegaId}"th:text="${bod.descripcion}"/> 
												</select>
											</div>
										</div>
										
										<div class="form-group row">
											<label class="col-sm-1 col-form-label">Usuario: </label>
											<div class="col-sm-4">
												<input type="text" th:field="*{usuario}" class="form-control"
													placeholder="Usuario del sistema" />
											</div>
										</div>
										
										<div class="form-group row">
											<label class="col-sm-1 col-form-label">Estado: </label>
											<div class="col-sm-4">
												<select th:field="*{estado}" class="col-sm-6">
													<option value="1" selected="selected">Activo</option> 
													<option value="0">Inactivo</option>  
												</select>
											</div>
											<div th:if="*{usuarioId > 0 && usuarioId != 1}" class="col-sm-6 float-right">
												<a th:href="@{/usuarios/restaurar/} + *{usuarioId}" onclick="return confirm('¿Desea restaurar la contraseña del usuario?');">
													<button name="accion" class="btn btn-danger" type="button"
														value="Restaurar contraseña">
														<i class="fa fa-asterisk"></i> Restaurar Contraseña
													</button>
												</a>
											</div>
										</div>

										<div class="form-group row">
											<button name="accion" class="btn btn-warning" type="submit"
												value="actualizar">
												<i class="fa fa-edit"></i> Guardar
											</button>
											<a th:href="@{/usuarios/usuarios-listar}">
												<button name="accion" class="btn btn-default" type="button"
													value="cancelar">
													<i class="fa fa-close"></i> Cancelar
												</button>
											</a>

										</div>
									</form>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>

						<!-- PAGE CONTENT ENDS -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		</div>
	</div>
	<!-- /.main-content -->

	<!-- INICIO FOOTER -->
	<footer th:replace="layout/layout :: footer"></footer>
	<!-- INICIO FOOTER -->
</body>
</html>