<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- INICIO HEAD -->
<head th:fragment="head">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title th:text="${titulo}"></title>

<meta name="description" content="Gelver Gomez" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

<!-- bootstrap & fontawesome -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="/assets/font-awesome/4.5.0/css/font-awesome.min.css" />

<!-- page specific plugin styles -->

<!-- text fonts -->
<link rel="stylesheet" href="/assets/css/fonts.googleapis.com.css" />

<!-- ace styles -->
<link rel="stylesheet" href="/assets/css/ace.min.css"
	class="ace-main-stylesheet" id="main-ace-style" />

<!--[if lte IE 9]>
                <link rel="stylesheet" href="/assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
        <![endif]-->
<link rel="stylesheet" href="/assets/css/ace-skins.min.css" />
<link rel="stylesheet" href="/assets/css/ace-rtl.min.css" />

<link rel="stylesheet" href="/assets/css/jquery-ui.min.css">
<script src="/assets/js/jquery-2.1.4.min.js"></script>
<script src="/assets/js/jquery-ui.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<link rel="stylesheet" href="jqueryui/style.css">
<script>
	$(document).ready(function() {
		
		$("#buscar_producto").autocomplete({

			source : function(request, response) {
				$.ajax({
					url : "/maestra/cargar_maestra/" + request.term,
					dataType : "json",
					data : {
						term : request.term
					},
					success : function(data) {
						response($.map(data, function(item) {
							return {
								value : item.maestraId,
								label : item.nombre,
								costo: item.costoPromedio,
								codigo: item.codigo,
							};
						}));
					},
				});
			},
			select : function(event, ui) {
				//$("#buscar_producto").val(ui.item.label);

				if(itemHelper.hasProducto(ui.item.value)){
					$("#buscar_producto").val("");
					$("#errorItem").html("El producto ya se encuentra registrado en esta orden.");
					return false;
				}
				var linea = $("#plantillaItems").html();
				linea = linea.replace(/{maestraID}/g, ui.item.value);
				linea = linea.replace(/{codigo}/g, ui.item.codigo);
				linea = linea.replace(/{nombre}/g, ui.item.label);
				linea = linea.replace(/{valorCosto}/g, ui.item.costo);
				
				$("#cargarItem tbody").append(linea);
				itemHelper.calcularTotal(ui.item.value, ui.item.costo, 1);
				$("#buscar_producto").val("");
				
				return false;
			},
		});
		
		$("form").submit(function(){
			$("#plantillaItems").remove();
			return;
		})
		
		$("#buscar_producto_new").autocomplete({

			source : function(request, response) {
				$.ajax({
					url : "/maestra/cargar_maestra/" + request.term,
					dataType : "json",
					data : {
						term : request.term
					},
					success : function(data) {
						response($.map(data, function(item) {
							return {
								value : item.maestraId,
								label : item.nombre,
								costo: item.costoPromedio,
								codigo: item.codigo,
							};
						}));
					},
				});
			},
			select : function(event, ui) {
				//$("#buscar_producto").val(ui.item.label);
				
				$("#maestraId").val(ui.item.value);
				$("#codigo").val(ui.item.codigo);
				$("#nombre").val(ui.item.label);
				$("#valorCosto").val(ui.item.costo);
				$("#cantidad").val("1");
				$("#buscar_producto_new").val("");
				
				return false;
			},
		});
		
		$("#buscar_producto_conf").autocomplete({

			source : function(request, response) {
				$.ajax({
					url : "/maestra/cargar_maestra/" + request.term,
					dataType : "json",
					data : {
						term : request.term
					},
					success : function(data) {
						response($.map(data, function(item) {
							return {
								value : item.maestraId,
								label : item.nombre,
								costo: item.costoPromedio,
								codigo: item.codigo,
							};
						}));
					},
				});
			},
			select : function(event, ui) {
				//$("#buscar_producto").val(ui.item.label);
				
				$("#maestraProId").val(ui.item.value);
				$("#codigo").val(ui.item.codigo);
				$("#nombre").val(ui.item.label);
				$("#buscar_producto_conf").val("");
				
				return false;
			},
		});
		
	});
	
	var itemHelper = {
			calcularTotal: function(id, precio, cantidad){
				//alert("Precio: " + precio + " - Cantidad: " + cantidad);
				$("#valorTotal_" + id).html(parseFloat(precio) * parseFloat(cantidad));
				//$("#valorTotal_" + id).html(formatNumber.new(parseInt(precio) * parseInt(cantidad)));
				this.calcularValorTotal();
			},
			eliminarLinea: function(id){
				$("#row_" + id).remove();
				this.calcularValorTotal();
			},
			hasProducto: function(id){
				
				var retorno = false;
				$('input[name="maestraID[]"]').each(function(){
					if(parseFloat(id) == parseFloat($(this).val())){
						retorno = true;
					}
				});
				return retorno;
			},
			calcularValorTotal: function(){
				var total = 0;
				
				$('span[id^="valorTotal_"]').each(function(){
					total += parseFloat($(this).html());
				});
				
				
				$("#valorTotal").html(formatNumber.new(total));
				//$("#totalOrden").html(total);
			},
			validarNulos: function(){
				var costo = 0;
				var pos = 0;
				var retorno = true;
				var proveedor = $('select[name="proveedor"]').val();
				
				if((isNaN(proveedor) || proveedor <= 0)){
					alert("Seleccione el proveedor");
					return false;
				}
				
				$('span[id^="valorTotal_"]').each(function(){
					if(pos > 0){
						if(retorno){
							costo = parseInt($(this).html());
							//alert("Costo: **" + costo + "**");
							if((isNaN(costo) || costo <= 0)){
								retorno = false;
								//alert("FALSE");
							}else{
								retorno = true;
								//alert("TRUE");
							}
							//alert("costo Producto: " + costo);
						}
					}
					pos++;
				});
				if(!retorno){
					alert("Verifique la información de costos o cantidades, existen valores inconsistentes.");
				}
				
				return retorno;
			}
	};
	var formatNumber = {
			 separador: ".", // separador para los miles
			 sepDecimal: ',', // separador para los decimales
			 formatear:function (num){
			 num +='';
			 var splitStr = num.split('.');
			 var splitLeft = splitStr[0];
			 var splitRight = splitStr.length > 1 ? this.sepDecimal + splitStr[1] : '';
			 var regx = /(\d+)(\d{3})/;
			 while (regx.test(splitLeft)) {
			 splitLeft = splitLeft.replace(regx, '$1' + this.separador + '$2');
			 }
			 return this.simbol + splitLeft +splitRight;
			 },
			 new:function(num, simbol){
			 this.simbol = simbol ||'';
			 return this.formatear(num);
			 }
			}
</script>

<!--[if lte IE 9]>
          <link rel="stylesheet" href="/assets/css/ace-ie.min.css" />
        <![endif]-->

<!-- inline styles related to this page -->

<!-- ace settings handler -->
<script src="/assets/js/ace-extra.min.js"></script>

<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

<!--[if lte IE 8]>
        <script src="/assets/js/html5shiv.min.js"></script>
        <script src="/assets/js/respond.min.js"></script>
        <![endif]-->


</head>
<!-- FIN HEAD -->

<body>
	<!-- INICIO HEADER -->
	<div id="navbar" class="navbar navbar-default ace-save-state"
		th:fragment="header">
		<div class="navbar-container ace-save-state" id="navbar-container">
			<button type="button" class="navbar-toggle menu-toggler pull-left"
				id="menu-toggler" data-target="#sidebar">
				<span class="sr-only">Toggle sidebar</span> <span class="icon-bar"></span>

				<span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>

			<div class="navbar-header pull-left">
				<a href="/index" class="navbar-brand"> <small> <i
						class="fa fa-book"></i> ERP - Medical Pharmacy LTDA.
				</small>
				</a>
			</div>

			<div class="navbar-buttons navbar-header pull-right"
				role="navigation">
				<ul class="nav ace-nav">
					<li class="grey dropdown-modal"><a data-toggle="dropdown"
						class="dropdown-toggle" href="#"> <i
							class="ace-icon fa fa-tasks"></i> <span class="badge badge-grey">4</span>
					</a>

						<ul
							class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
							<li class="dropdown-header"><i class="ace-icon fa fa-check"></i>
								6 Tareas para completar</li>

							<li class="dropdown-content">
								<ul class="dropdown-menu dropdown-navbar">
									<li><a href="#">
											<div class="clearfix">
												<span class="pull-left">Actualizacion de Software</span> <span
													class="pull-right">65%</span>
											</div>

											<div class="progress progress-mini">
												<div style="width: 65%" class="progress-bar"></div>
											</div>
									</a></li>

									<li><a href="#">
											<div class="clearfix">
												<span class="pull-left">Actualizacion de Hardware</span> <span
													class="pull-right">35%</span>
											</div>

											<div class="progress progress-mini">
												<div style="width: 35%"
													class="progress-bar progress-bar-danger"></div>
											</div>
									</a></li>

									<li><a href="#">
											<div class="clearfix">
												<span class="pull-left">Unidades de Testeo</span> <span
													class="pull-right">15%</span>
											</div>

											<div class="progress progress-mini">
												<div style="width: 15%"
													class="progress-bar progress-bar-warning"></div>
											</div>
									</a></li>

									<li><a href="#">
											<div class="clearfix">
												<span class="pull-left">Corrección de errores</span> <span
													class="pull-right">90%</span>
											</div>

											<div class="progress progress-mini progress-striped active">
												<div style="width: 90%"
													class="progress-bar progress-bar-success"></div>
											</div>
									</a></li>
								</ul>
							</li>

							<li class="dropdown-footer"><a href="#"> Ver tareas con
									detalles. <i class="ace-icon fa fa-arrow-right"></i>
							</a></li>
						</ul></li>

					<li class="purple dropdown-modal"><a data-toggle="dropdown"
						class="dropdown-toggle" href="#"> <i
							class="ace-icon fa fa-bell icon-animated-bell"></i> <span
							class="badge badge-important">8</span>
					</a>

						<ul
							class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
							<li class="dropdown-header"><i
								class="ace-icon fa fa-exclamation-triangle"></i> 8
								Notificaciones</li>

							<li class="dropdown-content">
								<ul class="dropdown-menu dropdown-navbar navbar-pink">
									<li><a href="#">
											<div class="clearfix">
												<span class="pull-left"> <i
													class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
													Nuevos comentarios
												</span> <span class="pull-right badge badge-info">+12</span>
											</div>
									</a></li>

									<li><a href="#">
											<div class="clearfix">
												<span class="pull-left"> <i
													class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
													Nuevos pedidos
												</span> <span class="pull-right badge badge-success">+8</span>
											</div>
									</a></li>

									<li><a href="#">
											<div class="clearfix">
												<span class="pull-left"> <i
													class="btn btn-xs no-hover btn-info fa fa-twitter"></i>
													Seguidores
												</span> <span class="pull-right badge badge-info">+11</span>
											</div>
									</a></li>
								</ul>
							</li>

							<li class="dropdown-footer"><a href="#"> Ver todas las
									notificaciones <i class="ace-icon fa fa-arrow-right"></i>
							</a></li>
						</ul></li>

					<li class="green dropdown-modal"><a data-toggle="dropdown"
						class="dropdown-toggle" href="#"> <i
							class="ace-icon fa fa-envelope icon-animated-vertical"></i> <span
							class="badge badge-success">5</span>
					</a>

						<ul
							class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
							<li class="dropdown-header"><i
								class="ace-icon fa fa-envelope-o"></i> 5 Mensajes</li>

							<li class="dropdown-content">
								<ul class="dropdown-menu dropdown-navbar">
									<li><a href="#" class="clearfix"> <img
											src="/assets/images/avatars/avatar.png" class="msg-photo"
											alt="Alex's Avatar" /> <span class="msg-body"> <span
												class="msg-title"> <span class="blue">Alex:</span> Se
													requiere comprar papeleria ...
											</span> <span class="msg-time"> <i
													class="ace-icon fa fa-clock-o"></i> <span>hace un
														momento</span>
											</span>
										</span>
									</a></li>

									<li><a href="#" class="clearfix"> <img
											src="/assets/images/avatars/avatar3.png" class="msg-photo"
											alt="Susan's Avatar" /> <span class="msg-body"> <span
												class="msg-title"> <span class="blue">Susan:</span>
													Se radico una nueva factura, esta pendiente de ...
											</span> <span class="msg-time"> <i
													class="ace-icon fa fa-clock-o"></i> <span>Hace 20
														minutos</span>
											</span>
										</span>
									</a></li>

									<li><a href="#" class="clearfix"> <img
											src="/assets/images/avatars/avatar4.png" class="msg-photo"
											alt="Bob's Avatar" /> <span class="msg-body"> <span
												class="msg-title"> <span class="blue">Miguel:</span>
													Debemos programar reunion de seguimiento ...
											</span> <span class="msg-time"> <i
													class="ace-icon fa fa-clock-o"></i> <span>3:15 pm</span>
											</span>
										</span>
									</a></li>

									<li><a href="#" class="clearfix"> <img
											src="/assets/images/avatars/avatar2.png" class="msg-photo"
											alt="Kate's Avatar" /> <span class="msg-body"> <span
												class="msg-title"> <span class="blue">Karen:</span>
													Podemos aprobar la compra de suministros ???
											</span> <span class="msg-time"> <i
													class="ace-icon fa fa-clock-o"></i> <span>1:33 pm</span>
											</span>
										</span>
									</a></li>

									<li><a href="#" class="clearfix"> <img
											src="/assets/images/avatars/avatar5.png" class="msg-photo"
											alt="Fred's Avatar" /> <span class="msg-body"> <span
												class="msg-title"> <span class="blue">Freddy:</span>
													Programaron partido para el sabado 7 a.m. ...
											</span> <span class="msg-time"> <i
													class="ace-icon fa fa-clock-o"></i> <span>10:09 am</span>
											</span>
										</span>
									</a></li>
								</ul>
							</li>

							<li class="dropdown-footer"><a href="inbox.html"> Ver
									todos los mensajes <i class="ace-icon fa fa-arrow-right"></i>
							</a></li>
						</ul></li>

					<li class="light-blue dropdown-modal"><a
						data-toggle="dropdown" href="#" class="dropdown-toggle"> <img
							class="nav-user-photo" src="/assets/images/avatars/user.jpg"
							alt="Jason's Photo" /> <span class="user-info"> <small>Bienvenido,</small>
								<span th:text="${#authentication.name}"></span>
						</span> <i class="ace-icon fa fa-caret-down"></i>
					</a>

						<ul
							class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
							<li><a href="#"> <i class="ace-icon fa fa-cog"></i>
									Configuración
							</a></li>

							<li><a href="profile.html"> <i
									class="ace-icon fa fa-user"></i> Perfil
							</a></li>
							
							<li><a href="/usuarios/cambioclave"> <i
									class="ace-icon fa fa-unlock-alt"></i> Cambio Clave
							</a></li>
							

							<li class="divider"></li>

							<li>

								<div>
									<form id="logoutForm" th:action="@{/logout}" method="post"> 
										<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
									</form>
								</div> 
								<a onclick="document.getElementById('logoutForm').submit();">
									<i class="ace-icon fa fa-power-off"></i> Salir
								</a>
							</li>
						</ul></li>
				</ul>
			</div>
		</div>
		<!-- /.navbar-container -->
	</div>
	<!-- FIN HEADER -->

	<!-- INICIO MENU -->
	<div id="sidebar" class="sidebar responsive ace-save-state"
		th:fragment="nav">

		<script type="text/javascript">
			try {
				ace.settings.loadState('sidebar')
			} catch (e) {
			}
		</script>
		<div class="sidebar-shortcuts" id="sidebar-shortcuts">
			<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
				<button class="btn btn-success">
					<i class="ace-icon fa fa-signal"></i>
				</button>

				<button class="btn btn-info">
					<i class="ace-icon fa fa-pencil"></i>
				</button>

				<button class="btn btn-warning">
					<i class="ace-icon fa fa-users"></i>
				</button>

				<button class="btn btn-danger">
					<i class="ace-icon fa fa-cogs"></i>
				</button>
			</div>

			<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
				<span class="btn btn-success"></span> <span class="btn btn-info"></span>

				<span class="btn btn-warning"></span> <span class="btn btn-danger"></span>
			</div>
		</div>
		<!-- /.sidebar-shortcuts -->

		<ul class="nav nav-list">
			<li class=""><b class="arrow"></b></li>

			<li class="active open" th:each="modMenu: ${session.modulosOpMenu}"
				th:if="${modMenu.descripcion == moduloMenu}"><a href="#"
				class="dropdown-toggle"> <i class="menu-icon fa fa-book"></i> <span
					class="menu-text" th:text="${modMenu.descripcion}"></span> <b
					class="arrow fa fa-angle-down"></b>
			</a> <b class="arrow"></b>

				<ul class="submenu" th:each="opMenu: ${session.opcionesOpMenu}">
					<li
						th:if="${opMenu.nombreOpcion == opcionMenu and modMenu.moduloId == opMenu.modulo.moduloId}"
						class="active"><a th:href="${opMenu.objeto}"> <i
							class="menu-icon fa fa-caret-right"></i><span
							th:text="${opMenu.nombreOpcion}"></span>
					</a> <b class="arrow"></b></li>
					<li
						th:if="${opMenu.nombreOpcion != opcionMenu and modMenu.moduloId == opMenu.modulo.moduloId}"
						class=""><a th:href="${opMenu.objeto}"> <i
							class="menu-icon fa fa-caret-right"></i><span
							th:text="${opMenu.nombreOpcion}"></span>
					</a> <b class="arrow"></b></li>
				</ul></li>

			<li class="" th:each="modMenu: ${session.modulosOpMenu}"
				th:if="${modMenu.descripcion != moduloMenu}"><a href="#"
				class="dropdown-toggle"> <i class="menu-icon fa fa-book"></i> <span
					class="menu-text" th:text="${modMenu.descripcion}"></span> <b
					class="arrow fa fa-angle-down"></b>
			</a> <b class="arrow"></b>

				<ul class="submenu" th:each="opMenu: ${session.opcionesOpMenu}">
					<li
						th:if="${opMenu.nombreOpcion == opcionMenu and modMenu.moduloId == opMenu.modulo.moduloId}"
						class="active"><a th:href="${opMenu.objeto}"> <i
							class="menu-icon fa fa-caret-right"></i><span
							th:text="${opMenu.nombreOpcion}"></span>
					</a> <b class="arrow"></b></li>
					<li
						th:if="${opMenu.nombreOpcion != opcionMenu and modMenu.moduloId == opMenu.modulo.moduloId}"
						class=""><a th:href="${opMenu.objeto}"> <i
							class="menu-icon fa fa-caret-right"></i><span
							th:text="${opMenu.nombreOpcion}"></span>
					</a> <b class="arrow"></b></li>
				</ul></li>

		</ul>
		<!-- /.nav-list -->

		<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
			<i id="sidebar-toggle-icon"
				class="ace-icon fa fa-angle-double-left ace-save-state"
				data-icon1="ace-icon fa fa-angle-double-left"
				data-icon2="ace-icon fa fa-angle-double-right"></i>
		</div>
	</div>
	<!-- FIN MENU -->

	<!-- INICIO INICIO -->
	<div class="breadcrumbs ace-save-state" id="breadcrumbs"
		th:fragment="inicio">
		<ul class="breadcrumb">
			<li><i class="ace-icon fa fa-home home-icon"></i> <a
				href="/index">Inicio</a></li>
		</ul>
		<!-- /.breadcrumb -->

		<div class="nav-search" id="nav-search">
			<form class="form-search">
				<span class="input-icon"> <input type="text"
					placeholder="buscar ..." class="nav-search-input"
					id="nav-search-input" autocomplete="off" /> <i
					class="ace-icon fa fa-search nav-search-icon"></i>
				</span>
			</form>
		</div>
		<!-- /.nav-search -->
	</div>
	<!-- FIN INICIO -->

	<!-- INICIO CONFIGURACION -->
	<div class="ace-settings-container" id="ace-settings-container"
		th:fragment="configuracion">
		<div class="btn btn-app btn-xs btn-warning ace-settings-btn"
			id="ace-settings-btn">
			<i class="ace-icon fa fa-cog bigger-130"></i>
		</div>

		<div class="ace-settings-box clearfix" id="ace-settings-box">
			<div class="pull-left width-50">
				<div class="ace-settings-item">
					<div class="pull-left">
						<select id="skin-colorpicker" class="hide">
							<option data-skin="no-skin" value="#438EB9">#438EB9</option>
							<option data-skin="skin-1" value="#222A2D">#222A2D</option>
							<option data-skin="skin-2" value="#C6487E">#C6487E</option>
							<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
						</select>
					</div>
					<span>&nbsp; Choose Skin</span>
				</div>

				<div class="ace-settings-item">
					<input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
						id="ace-settings-navbar" autocomplete="off" /> <label class="lbl"
						for="ace-settings-navbar"> Fixed Navbar</label>
				</div>

				<div class="ace-settings-item">
					<input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
						id="ace-settings-sidebar" autocomplete="off" /> <label
						class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
				</div>

				<div class="ace-settings-item">
					<input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
						id="ace-settings-breadcrumbs" autocomplete="off" /> <label
						class="lbl" for="ace-settings-breadcrumbs"> Fixed
						Breadcrumbs</label>
				</div>

				<div class="ace-settings-item">
					<input type="checkbox" class="ace ace-checkbox-2"
						id="ace-settings-rtl" autocomplete="off" /> <label class="lbl"
						for="ace-settings-rtl"> Right To Left (rtl)</label>
				</div>

				<div class="ace-settings-item">
					<input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
						id="ace-settings-add-container" autocomplete="off" /> <label
						class="lbl" for="ace-settings-add-container"> Inside <b>.container</b>
					</label>
				</div>
			</div>
			<!-- /.pull-left -->

			<div class="pull-left width-50">
				<div class="ace-settings-item">
					<input type="checkbox" class="ace ace-checkbox-2"
						id="ace-settings-hover" autocomplete="off" /> <label class="lbl"
						for="ace-settings-hover"> Submenu on Hover</label>
				</div>

				<div class="ace-settings-item">
					<input type="checkbox" class="ace ace-checkbox-2"
						id="ace-settings-compact" autocomplete="off" /> <label
						class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
				</div>

				<div class="ace-settings-item">
					<input type="checkbox" class="ace ace-checkbox-2"
						id="ace-settings-highlight" autocomplete="off" /> <label
						class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
				</div>
			</div>
			<!-- /.pull-left -->
		</div>
		<!-- /.ace-settings-box -->
	</div>
	<!-- /.ace-settings-container -->
	<!-- FIN CONFIGURACION -->

	<!-- INICIO VALIDACION -->
	<div th:fragment="validaciones">
		<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}"
			th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}"
			th:text="${info}"></div>
	</div>
	<!-- FIN VALIDACION -->

	<!-- INICIO BOTONES DETALLE -->
	<div class="hidden-md hidden-lg" th:fragment="botones">
		<div class="inline pos-rel">
			<button class="btn btn-minier btn-yellow dropdown-toggle"
				data-toggle="dropdown" data-position="auto">
				<i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
			</button>

			<ul
				class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

				<li><a href="#" class="tooltip-info" data-rel="tooltip"
					title="View"> <span class="blue"> <i
							class="ace-icon fa fa-search-plus bigger-120"></i>
					</span>
				</a></li>

				<li><a href="#" class="tooltip-success" data-rel="tooltip"
					title="Edit"> <span class="green"> <i
							class="ace-icon fa fa-pencil-square-o bigger-120"></i>
					</span>
				</a></li>

				<li><a href="#" class="tooltip-error" data-rel="tooltip"
					title="Delete"> <span class="red"> <i
							class="ace-icon fa fa-trash-o bigger-120"></i>
					</span>
				</a></li>

			</ul>
		</div>
	</div>
	<!-- FIN BOTONES DETALLE -->


	<!-- INICIO FOOTER -->
	<footer th:fragment="footer">
		<div class="footer">
			<div class="footer-inner">
				<div class="footer-content">
					<span class="bigger-100"> Gelver Gomez &copy; 2019 </span> &nbsp;
					&nbsp; <span class="action-buttons"> <a href="#"> <i
							class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
					</a> <a href="#"> <i
							class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
					</a> <a href="#"> <i
							class="ace-icon fa fa-rss-square orange bigger-150"></i>
					</a>
					</span>
				</div>
			</div>
		</div>

		<a href="#" id="btn-scroll-up"
			class="btn-scroll-up btn btn-sm btn-inverse"> <i
			class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
		</a>


		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="/assets/js/jquery-2.1.4.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="/assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
		<script type="text/javascript">
			if ('ontouchstart' in document.documentElement)
				document
						.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"
								+ "<" + "/script>");
		</script>

		<script src="/assets/js/bootstrap.min.js"></script>

		<!-- page specific plugin scripts -->
		<script src="/assets/js/jquery.dataTables.min.js"></script>
		<script src="/assets/js/jquery.dataTables.bootstrap.min.js"></script>
		<script src="/assets/js/dataTables.buttons.min.js"></script>
		<script src="/assets/js/buttons.flash.min.js"></script>
		<script src="/assets/js/buttons.html5.min.js"></script>
		<script src="/assets/js/buttons.print.min.js"></script>
		<script src="/assets/js/buttons.colVis.min.js"></script>
		<script src="/assets/js/dataTables.select.min.js"></script>

		<!-- ace scripts -->
		<script src="/assets/js/ace-elements.min.js"></script>
		<script src="/assets/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			jQuery(function($) {
				//initiate dataTables plugin
				var myTable = $('#dynamic-table')
				//.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
				.DataTable({
					bAutoWidth : false,
					"aoColumns" : [ {
						"bSortable" : false
					}, null, null, null, null, null, {
						"bSortable" : false
					} ],
					"aaSorting" : [],

					//"bProcessing": true,
					//"bServerSide": true,
					//"sAjaxSource": "http://127.0.0.1/table.php"	,

					//,
					//"sScrollY": "200px",
					//"bPaginate": false,

					//"sScrollX": "100%",
					//"sScrollXInner": "120%",
					//"bScrollCollapse": true,
					//Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
					//you may want to wrap the table inside a "div.dataTables_borderWrap" element

					//"iDisplayLength": 50

					select : {
						style : 'multi'
					}
				});

				$.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';

				new $.fn.dataTable.Buttons(
						myTable,
						{
							buttons : [
									{
										"extend" : "colvis",
										"text" : "<i class='fa fa-search bigger-110 blue'></i> <span class='hidden'>Show/hide columns</span>",
										"className" : "btn btn-white btn-primary btn-bold",
										columns : ':not(:first):not(:last)'
									},
									{
										"extend" : "copy",
										"text" : "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>Copy to clipboard</span>",
										"className" : "btn btn-white btn-primary btn-bold"
									},
									{
										"extend" : "csv",
										"text" : "<i class='fa fa-database bigger-110 orange'></i> <span class='hidden'>Export to CSV</span>",
										"className" : "btn btn-white btn-primary btn-bold"
									},
									{
										"extend" : "excel",
										"text" : "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>Export to Excel</span>",
										"className" : "btn btn-white btn-primary btn-bold"
									},
									{
										"extend" : "pdf",
										"text" : "<i class='fa fa-file-pdf-o bigger-110 red'></i> <span class='hidden'>Export to PDF</span>",
										"className" : "btn btn-white btn-primary btn-bold"
									},
									{
										"extend" : "print",
										"text" : "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>Print</span>",
										"className" : "btn btn-white btn-primary btn-bold",
										autoPrint : false,
										message : 'This print was produced using the Print button for DataTables'
									} ]
						});
				myTable.buttons().container().appendTo(
						$('.tableTools-container'));

				//style the message box
				var defaultCopyAction = myTable.button(1).action();
				myTable
						.button(1)
						.action(
								function(e, dt, button, config) {
									defaultCopyAction(e, dt, button, config);
									$('.dt-button-info')
											.addClass(
													'gritter-item-wrapper gritter-info gritter-center white');
								});

				var defaultColvisAction = myTable.button(0).action();
				myTable
						.button(0)
						.action(
								function(e, dt, button, config) {

									defaultColvisAction(e, dt, button, config);

									if ($('.dt-button-collection > .dropdown-menu').length == 0) {
										$('.dt-button-collection')
												.wrapInner(
														'<ul class="dropdown-menu dropdown-light dropdown-caret dropdown-caret" />')
												.find('a').attr('href', '#')
												.wrap("<li />")
									}
									$('.dt-button-collection')
											.appendTo(
													'.tableTools-container .dt-buttons')
								});

				////

				setTimeout(function() {
					$($('.tableTools-container')).find('a.dt-button').each(
							function() {
								var div = $(this).find(' > div').first();
								if (div.length == 1)
									div.tooltip({
										container : 'body',
										title : div.parent().text()
									});
								else
									$(this).tooltip({
										container : 'body',
										title : $(this).text()
									});
							});
				}, 500);

				myTable.on('select', function(e, dt, type, index) {
					if (type === 'row') {
						$(myTable.row(index).node()).find('input:checkbox')
								.prop('checked', true);
					}
				});
				myTable.on('deselect', function(e, dt, type, index) {
					if (type === 'row') {
						$(myTable.row(index).node()).find('input:checkbox')
								.prop('checked', false);
					}
				});

				/////////////////////////////////
				//table checkboxes
				$('th input[type=checkbox], td input[type=checkbox]').prop(
						'checked', false);

				//select/deselect all rows according to table header checkbox
				$(
						'#dynamic-table > thead > tr > th input[type=checkbox], #dynamic-table_wrapper input[type=checkbox]')
						.eq(0)
						.on(
								'click',
								function() {
									var th_checked = this.checked;//checkbox inside "TH" table header

									$('#dynamic-table')
											.find('tbody > tr')
											.each(
													function() {
														var row = this;
														if (th_checked)
															myTable.row(row)
																	.select();
														else
															myTable.row(row)
																	.deselect();
													});
								});

				//select/deselect a row when the checkbox is checked/unchecked
				$('#dynamic-table').on('click', 'td input[type=checkbox]',
						function() {
							var row = $(this).closest('tr').get(0);
							if (this.checked)
								myTable.row(row).deselect();
							else
								myTable.row(row).select();
						});

				$(document).on('click', '#dynamic-table .dropdown-toggle',
						function(e) {
							e.stopImmediatePropagation();
							e.stopPropagation();
							e.preventDefault();
						});

				//And for the first simple table, which doesn't have TableTools or dataTables
				//select/deselect all rows according to table header checkbox
				var active_class = 'active';
				$('#simple-table > thead > tr > th input[type=checkbox]')
						.eq(0)
						.on(
								'click',
								function() {
									var th_checked = this.checked;//checkbox inside "TH" table header

									$(this)
											.closest('table')
											.find('tbody > tr')
											.each(
													function() {
														var row = this;
														if (th_checked)
															$(row)
																	.addClass(
																			active_class)
																	.find(
																			'input[type=checkbox]')
																	.eq(0)
																	.prop(
																			'checked',
																			true);
														else
															$(row)
																	.removeClass(
																			active_class)
																	.find(
																			'input[type=checkbox]')
																	.eq(0)
																	.prop(
																			'checked',
																			false);
													});
								});

				//select/deselect a row when the checkbox is checked/unchecked
				$('#simple-table').on('click', 'td input[type=checkbox]',
						function() {
							var $row = $(this).closest('tr');
							if ($row.is('.detail-row '))
								return;
							if (this.checked)
								$row.addClass(active_class);
							else
								$row.removeClass(active_class);
						});

				/********************************/
				//add tooltip for small view action buttons in dropdown menu
				$('[data-rel="tooltip"]').tooltip({
					placement : tooltip_placement
				});

				//tooltip placement on right or left
				function tooltip_placement(context, source) {
					var $source = $(source);
					var $parent = $source.closest('table')
					var off1 = $parent.offset();
					var w1 = $parent.width();

					var off2 = $source.offset();
					//var w2 = $source.width();

					if (parseInt(off2.left) < parseInt(off1.left)
							+ parseInt(w1 / 2))
						return 'right';
					return 'left';
				}

				/***************/
				$('.show-details-btn').on(
						'click',
						function(e) {
							e.preventDefault();
							$(this).closest('tr').next().toggleClass('open');
							$(this).find(ace.vars['.icon']).toggleClass(
									'fa-angle-double-down').toggleClass(
									'fa-angle-double-up');
						});
				/***************/

				/**
				 //add horizontal scrollbars to a simple table
				 $('#simple-table').css({'width':'2000px', 'max-width': 'none'}).wrap('<div style="width: 1000px;" />').parent().ace_scroll(
				 {
				 horizontal: true,
				 styleClass: 'scroll-top scroll-dark scroll-visible',//show the scrollbars on top(default is bottom)
				 size: 2000,
				 mouseWheelLock: true
				 }
				 ).css('padding-top', '12px');
				 */

			})
		</script>
	</footer>
	<!-- INICIO FOOTER -->
</body>
</html>