<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- INICIO HEAD -->
<head th:replace="layout/layout :: head"></head>
<!-- FIN HEAD -->

<body class="no-skin">

	<!-- INICIO ENCABEZADO -->
	<div th:replace="layout/layout :: header"></div>
	<!-- FIN ENCABEZADO -->

	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.loadState('main-container')
			} catch (e) {
			}
		</script>

		<!-- INICIO MENU -->
		<div th:replace="layout/layout :: nav"></div>
		<!-- FIN MENU -->

		<div class="main-content">
			<div class="main-content-inner">
				<!-- INICIO INICIO -->
				<div th:replace="layout/layout :: inicio"></div>
				<!-- FIN INICIO -->

				<div class="page-content">
					<!-- INICIO CONFIGURACION -->
					<div th:replace="layout/layout :: configuracion"></div>
					<!-- FIN CONFIGURACION -->
					
					<div class="page-header">
						<h1>Opciones 
							<small><i class="ace-icon fa fa-angle-double-right"></i> Edición de opción
							</small>
						</h1>
					</div>
					<!-- /.page-header -->
					
					<!-- /.page-validation -->
					<div th:object="${opcion}" th:remove="tag">
						<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
							<li th:each="err: ${#fields.errors('*')}" th:text="${err}">
							</li>
						</ul>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<!-- /.row -->

							<div class="row">
								<div class="col-xs-12">
									<!-- div.table-responsive modal-footer no-margin-top-->
									<form th:action="@{/opciones/opciones-form}" th:object="${opcion}" method="post" autocomplete="off">
										
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">ID:</label>
											<div class="col-sm-2">
												<input disabled="true" type="text" name="id" class="form-control"
													th:field="*{opcionId}" placeholder="ID" />
											</div>
											
											<label class="col-sm-2 col-form-label">Orden:</label>
											<div class="col-sm-2">
												<input type="number" name="id" class="form-control"
													th:field="*{ordenMenu}" placeholder="Orden Menu" />
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Nombre Opción: </label>
											<div class="col-sm-6">
												<input type="text" th:field="*{nombreOpcion}" class="form-control"
													placeholder="Nombre de la opción" />
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Objeto: </label>
											<div class="col-sm-4">
												<input type="text" th:field="*{objeto}" class="form-control"
													placeholder="objeto de la opción" />
											</div>
										</div>
										
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Modulo: </label>
											<div class="col-sm-4">
												<select th:field="*{modulo}" class="col-sm-6">
													<option value="0">Seleccione Modulo</option> 
													<option th:each=" d: ${mod}" th:value="${d.moduloId}"th:text="${d.descripcion}"/> 
												</select>
								           </div>
										</div>
										
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Tipo Opción: </label>
											<div class="col-sm-4">
												<select th:field="*{tipoOpc}" class="col-sm-6" placeholder="Tipo de opción">
									           		<option value="0">Seleccione Tipo</option> 
	    											<option value="1">Proceso</option> 
	    											<option value="2">Reporte</option> 
	    											<option value="3">Recurso</option>  
									           </select>
											</div>
										</div>

										<div class="form-group row">
											<button name="accion" class="btn btn-warning" type="submit"
												value="actualizar">
												<i class="fa fa-edit"></i> Guardar
											</button>
											<a th:href="@{/opciones/opciones-listar}">
												<button name="accion" class="btn btn-default" type="button"
													value="cancelar">
													<i class="fa fa-close"></i> Cancelar
												</button>
											</a>

										</div>
									</form>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>

						<!-- PAGE CONTENT ENDS -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		</div>
	</div>
	<!-- /.main-content -->

	<!-- INICIO FOOTER -->
	<footer th:replace="layout/layout :: footer"></footer>
	<!-- INICIO FOOTER -->
</body>
</html>