<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- INICIO HEAD -->
<head th:replace="layout/layout :: head"></head>
<!-- FIN HEAD -->

<body class="no-skin">

	<!-- INICIO ENCABEZADO -->
	<div th:replace="layout/layout :: header"></div>
	<!-- FIN ENCABEZADO -->

	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.loadState('main-container')
			} catch (e) {
			}
		</script>

		<!-- INICIO MENU -->
		<div th:replace="layout/layout :: nav"></div>
		<!-- FIN MENU -->

		<div class="main-content">
			<div class="main-content-inner">
				<!-- INICIO INICIO -->
				<div th:replace="layout/layout :: inicio"></div>
				<!-- FIN INICIO -->

				<div class="page-content">
					<!-- INICIO CONFIGURACION -->
					<div th:replace="layout/layout :: configuracion"></div>
					<!-- FIN CONFIGURACION -->
					
					<div class="page-header">
						<h1> Clientes 
							<small><i class="ace-icon fa fa-angle-double-right"></i> Lista de clientes</small>
						</h1>
					</div>
					<!-- /.page-header -->
					
					<!-- INICIO VALIDACIONES -->
					<div th:replace="layout/layout :: validaciones"></div>
					<!-- FIN VALIDACIONES -->

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<!-- /.row -->

							<div class="row">
								<div class="col-xs-12">
									<!-- div.table-responsive modal-footer no-margin-top-->
									<div class="modal-footer no-margin-top">
										<button th:onclick="window.location.href='/cliente/cliente-form'" class="btn btn-sm btn-success pull-left" data-dismiss="modal">
											<i class="ace-icon fa fa-pencil"></i> Registrar
										</button>
									</div>
									
									<!-- div.dataTables_borderWrap -->
									<div>
										<table id="dynamic-table"
											class="table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th>NIT</th>
													<th class="hidden-480">Razón Social</th>
													<th class="hidden-480">Dirección</th>
													<th>Ciudad</th>
													<th>Fecha Creación</th>
													<th class="hidden-480">Estado</th>
													<th></th>
												</tr>
											</thead>

											<tbody>
												<tr th:each="cliente: ${listClientes}">
													<td th:text="${cliente.nit}"></td>
													<td class="hidden-480" th:text="${cliente.razonSocial}"></td>
													<td th:text="${cliente.direccion}"></td>
													<td th:text="${cliente.ciudad.descripcion}"></td>
													<td th:text="${cliente.fechaCreacion}"><span class="label label-sm label-success"></span></td>
													<td th:if="${cliente.estado} == 1" th:text="${'Activo'}"><span class="label label-sm label-success"></span></td>
													<td th:if="${cliente.estado} == 0" th:text="${'Inactivo'}"><span class="label label-sm label-success"></span></td>
													<td>
														<div class="hidden-sm hidden-xs action-buttons">
															<a class="green" th:href="@{/cliente/cliente-form/} + ${cliente.clienteId}" title="Editar"> 
																<i class="ace-icon fa fa-pencil bigger-130"></i>
															</a> 
															<a class="red" th:href="@{/cliente/eliminar/} + ${cliente.clienteId}" title="Eliminar" onclick="return confirm('¿Desea eliminar el registro seleccionado?');"> 
																<i class="ace-icon fa fa-trash-o bigger-130"></i>
															</a>
														</div>

														<!-- INICIO BOTONES DETALLE -->
														<div th:replace="layout/layout :: botones"></div>
														<!-- FIN BOTONES DETALLE -->
														
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>

						<!-- PAGE CONTENT ENDS -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		</div>
	</div>
	<!-- /.main-content -->

	<!-- INICIO FOOTER -->
	<footer th:replace="layout/layout :: footer"></footer>
	<!-- INICIO FOOTER -->
</body>
</html>

