<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- INICIO HEAD -->
<head th:replace="layout/layout :: head"></head>
<!-- FIN HEAD -->

<body class="no-skin">

	<!-- INICIO ENCABEZADO -->
	<div th:replace="layout/layout :: header"></div>
	<!-- FIN ENCABEZADO -->

	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.loadState('main-container')
			} catch (e) {
			}
		</script>

		<!-- INICIO MENU -->
		<div th:replace="layout/layout :: nav"></div>
		<!-- FIN MENU -->

		<div class="main-content">
			<div class="main-content-inner">
				<!-- INICIO INICIO -->
				<div th:replace="layout/layout :: inicio"></div>
				<!-- FIN INICIO -->

				<div class="page-content">
					<!-- INICIO CONFIGURACION -->
					<div th:replace="layout/layout :: configuracion"></div>
					<!-- FIN CONFIGURACION -->
					
					<div class="page-header">
						<h1>Proveedor 
							<small><i class="ace-icon fa fa-angle-double-right"></i> Edición de proveedor
							</small>
						</h1>
					</div>
					<!-- /.page-header -->
					
					<!-- /.page-validation -->
					<div th:object="${proveedor}" th:remove="tag">
						<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
							<li th:each="err: ${#fields.errors('*')}" th:text="${err}">
							</li>
						</ul>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<!-- /.row -->

							<div class="row">
								<div class="col-xs-12">
									<!-- div.table-responsive modal-footer no-margin-top-->
									<form th:action="@{/proveedor/proveedor-form}" th:object="${proveedor}" method="post" autocomplete="off">
										
										<div class="form-group row">
											<label class="col-sm-1 col-form-label">Id:</label>
											<div class="col-sm-2">
												<input type="text" name="id" class="form-control" disabled="disabled"
													th:field="*{proveedorId}" placeholder="Id Proveedor" />
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-1 col-form-label">Nit: </label>
											<div class="col-sm-2">
												<input type="text" th:field="*{nit}" class="form-control"
													placeholder="Nit del Proveedor" />
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-1 col-form-label">Nombre: </label>
											<div class="col-sm-6">
												<input type="text" th:field="*{nombre}" class="form-control"
													placeholder="Nombre del proveedor" />
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-1 col-form-label">Descripción: </label>
											<div class="col-sm-6">
												<textarea cols="40" th:field="*{descripcion}" class="form-control"
													placeholder="Descripción de proveedor"></textarea>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-1 col-form-label">E-Mail: </label>
											<div class="col-sm-6">
												<input type="email" th:field="*{email}" class="form-control"
													placeholder="Correo Eléctronico de proveedor" />
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-1 col-form-label">Estado: </label>
											<div class="col-sm-4">
												<select th:field="*{estado}" class="col-sm-6">
													<option value="">Seleccione Estado</option> 
													<option value="1">Activo</option> 
													<option value="0">Inactivo</option>  
												</select>
											</div>
										</div>

										<div class="form-group row">
											<button name="accion" class="btn btn-warning" type="submit"
												value="actualizar">
												<i class="fa fa-edit"></i> Guardar
											</button>
											<a th:href="@{/proveedor/proveedor-listar}">
												<button name="accion" class="btn btn-default" type="button"
													value="cancelar">
													<i class="fa fa-close"></i> Cancelar
												</button>
											</a>

										</div>
									</form>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>

						<!-- PAGE CONTENT ENDS -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		</div>
	</div>
	<!-- /.main-content -->

	<!-- INICIO FOOTER -->
	<footer th:replace="layout/layout :: footer"></footer>
	<!-- INICIO FOOTER -->
</body>
</html>