<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- INICIO HEAD -->
<head th:replace="layout/layout :: head"></head>
<!-- FIN HEAD -->

<body class="no-skin">

	<!-- INICIO ENCABEZADO -->
	<div th:replace="layout/layout :: header"></div>
	<!-- FIN ENCABEZADO -->

	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.loadState('main-container')
			} catch (e) {
			}
		</script>

		<!-- INICIO MENU -->
		<div th:replace="layout/layout :: nav"></div>
		<!-- FIN MENU -->

		<div class="main-content">
			<div class="main-content-inner">
				<!-- INICIO INICIO -->
				<div th:replace="layout/layout :: inicio"></div>
				<!-- FIN INICIO -->

				<div class="page-content">
					<!-- INICIO CONFIGURACION -->
					<div th:replace="layout/layout :: configuracion"></div>
					<!-- FIN CONFIGURACION -->
					
					<div class="page-header">
						<h1> Configuración Maestra  
							<small><i class="ace-icon fa fa-angle-double-right"></i> Lista de productos por maestra</small>
						</h1>
					</div>
					<div class="page-header">
						<h1> Maestra Principal: 
							<tr>
							<td class="hidden-480 small" th:text="${maestra.codigo + ' - ' + maestra.nombre}"></td>
							</tr>
						</h1>
					</div>
					<!-- /.page-header -->
					
					<!-- INICIO VALIDACIONES -->
					<div th:replace="layout/layout :: validaciones"></div>
					<!-- FIN VALIDACIONES -->

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<!-- /.row -->

							<div class="row">
								<div class="col-xs-12">
									<!-- div.table-responsive modal-footer no-margin-top-->
									<div class="modal-footer no-margin-top">
										<button th:onclick="'window.location.href = \'' + @{/maestra/maestra-conf-form/{id}(id=${maestra.maestraId})} + '\''" class="btn btn-sm btn-success pull-left" data-dismiss="modal">
											<i class="ace-icon fa fa-pencil"></i> Registrar
										</button>
									</div>
									
									<!-- div.dataTables_borderWrap -->
									<div>
										<table class="table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th>Id</th>
													<th class="hidden-480">Maestra</th>
													<th class="hidden-480">Usuario</th>
													<th>Cantidad</th>
													<th></th>
												</tr>
											</thead>

											<tbody>
												<tr th:each="maestraPro: ${maestrasProcesado}">
													<td class="hidden-480 small" th:text="${maestraPro.consecutivoId}"></td>
													<td class="hidden-480 small" th:text="${maestraPro.maestraProId.nombre}"></td>
													<td class="hidden-480 small" th:text="${maestraPro.usuario.nombres}"></td>
													<td class="hidden-480 small" th:text="${maestraPro.cantidad}"></td>
													<td>
														<div class="hidden-sm hidden-xs action-buttons">
															<a class="red" th:href="@{/maestra/conf-eliminar/} + ${maestraPro.consecutivoId}" title="Eliminar" onclick="return confirm('¿Desea eliminar el registro seleccionado?');"> 
																<i class="ace-icon fa fa-trash-o bigger-130"></i>
															</a>
														</div>

														<!-- INICIO BOTONES DETALLE -->
														<div th:replace="layout/layout :: botones"></div>
														<!-- FIN BOTONES DETALLE -->
														
													</td>
												</tr>
											</tbody>
										</table>
										<div class="form-group row">
											<a th:href="@{/maestra/maestra-listar}">
												<button name="accion" class="btn btn-default" type="button"
													value="cancelar">
													<i class="fa fa-close"></i> Regresar
												</button>
											</a>
										</div>
									</div>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>

						<!-- PAGE CONTENT ENDS -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		</div>
	</div>
	
	<!-- /.main-content -->

	<!-- INICIO FOOTER -->
	<footer th:replace="layout/layout :: footer"></footer>
	<!-- INICIO FOOTER -->
</body>
</html>

