<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- INICIO HEAD -->
<head th:replace="layout/layout :: head"></head>
<!-- FIN HEAD -->

<body class="no-skin">

	<!-- INICIO ENCABEZADO -->
	<div th:replace="layout/layout :: header"></div>
	<!-- FIN ENCABEZADO -->

	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.loadState('main-container')
			} catch (e) {
			}
		</script>

		<!-- INICIO MENU -->
		<div th:replace="layout/layout :: nav"></div>
		<!-- FIN MENU -->

		<div class="main-content">
			<div class="main-content-inner">
				<!-- INICIO INICIO -->
				<!-- <div th:replace="layout/layout :: inicio"></div> -->
				<!-- FIN INICIO -->

				<div class="page-content">
					<!-- INICIO CONFIGURACION -->
					<div th:replace="layout/layout :: configuracion"></div>
					<!-- FIN CONFIGURACION -->
					
					<div class="page-header">
						<h1>Maestra de Productos 
							<small><i class="ace-icon fa fa-angle-double-right"></i> Edición de maestra
							</small>
						</h1>
					</div>
					<!-- /.page-header -->
					
					<!-- /.page-validation -->
					<div th:object="${maestra}" th:remove="tag">
						<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
							<li th:each="err: ${#fields.errors('*')}" th:text="${err}">
							</li>
						</ul>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<!-- /.row -->

							<div class="row">
								<div class="col-xs-12">
									<!-- div.table-responsive modal-footer no-margin-top-->
									<form th:action="@{/maestra/maestra-form}" th:object="${maestra}" method="post" autocomplete="off">
										
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Codigo:</label>
											<div class="col-sm-2">
												<input type="text" class="form-control" th:field="*{codigo}" placeholder="ID" />
											</div>
											<label class="col-sm-2 col-form-label"></label>
											<label class="col-sm-2 col-form-label">Fecha Registro: </label>
											<div class="col-sm-2">
												<input type="text" th:field="*{fechaRegistro}" class="form-control" disabled/>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Nombre Producto: </label>
											<div class="col-sm-6">
												<input type="text" th:field="*{nombre}" class="form-control" placeholder="Nombre del producto" />
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Código de Barras: </label>
											<div class="col-sm-4">
												<input type="text" th:field="*{codigoBarras}" class="form-control" placeholder="Codigo de Barras" />
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Presentación: </label>
											<div class="col-sm-4">
												<select th:field="*{presentacion}" class="col-sm-8">
													<option value="0">Seleccione Presentación</option> 
													<option th:each="listPre: ${listPresentacion}" th:value="${listPre.presentacionId}" th:text="${listPre.presentacionDesc}"/> 
												</select>
											 </div>
										</div>
										
										
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Proveedor: </label>
											<div class="col-sm-4">
												<select th:field="*{proveedor}" class="col-sm-8">
													<option value="0">Seleccione Proveedor</option> 
													<option th:each="listPro: ${listProveedor}" th:value="${listPro.proveedorId}" th:text="${listPro.nombre}"/> 
												</select>
								           </div>
										</div>
										
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Unidad de Medida: </label>
											<div class="col-sm-4">
												<select th:field="*{unidadMedida}" class="col-sm-8">
													<option value="0">Seleccione Unidad</option> 
													<option th:each="listUM: ${listUnidadMedida}" th:value="${listUM.unidadId}" th:text="${listUM.descripcion}"/> 
												</select>
								           </div>
											<label class="col-sm-1 col-form-label small">Unidad de Venta: </label>
											<div class="col-sm-4">
												<select th:field="*{unidadMedidaVenta}" class="col-sm-9">
													<option value="0">Seleccione Unidad</option> 
													<option th:each="listUM: ${listUnidadMedida}" th:value="${listUM.unidadId}" th:text="${listUM.descripcion}"/> 
												</select>
								           </div>
										</div>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Cantidad Empaque: </label>
											<div class="col-sm-2">
												<input type="text" th:field="*{cantEmpaque}" class="form-control"placeholder="Cantidad por unidad de empaque" />
											</div>
											<label class="col-sm-2 col-form-label">Procesado: </label>
											<div class="col-sm-1">
												<input th:field="*{procesado}" type="checkbox" class="form-control"/>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Estado: </label>
											<div class="col-sm-6">
												<select th:field="*{estado}" class="col-sm-4">
	    											<option value="1">Activo</option> 
	    											<option value="2">Inactivo</option> 
	    											<option value="3">Retirado</option>  
									           </select>
											</div>
										</div>

										<div class="form-group row">
											<button name="accion" class="btn btn-warning" type="submit"
												value="actualizar">
												<i class="fa fa-edit"></i> Guardar
											</button>
											<a th:href="@{/maestra/maestra-listar}">
												<button name="accion" class="btn btn-default" type="button"
													value="cancelar">
													<i class="fa fa-close"></i> Cancelar
												</button>
											</a>

										</div>
									</form>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>

						<!-- PAGE CONTENT ENDS -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		</div>
	</div>
	<!-- /.main-content -->

	<!-- INICIO FOOTER -->
	<footer th:replace="layout/layout :: footer"></footer>
	<!-- INICIO FOOTER -->
</body>
</html>