<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- INICIO HEAD -->
<head th:replace="layout/layout :: head"></head>
<!-- FIN HEAD -->

<body class="no-skin">

	<!-- INICIO ENCABEZADO -->
	<div th:replace="layout/layout :: header"></div>
	<!-- FIN ENCABEZADO -->

	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.loadState('main-container')
			} catch (e) {
			}
			
function validarDatos() {
				
				var mensaje = "";
					
				var maestraId = $('input[name="maestraId"]').val();
				if((isNaN(maestraId) || maestraId == "")){
					mensaje = "Seleccione el producto"
				}
				
				var precio = $('input[name="precio"]').val();
				if((isNaN(precio) || precio == "")){
					if (mensaje == ""){
						mensaje = "Registre el precio del producto"
					}else{
						mensaje += "\nRegistre el precio del producto"
					}
				}
				
				var cantidad = $('input[name="cantidad"]').val();
				if((isNaN(cantidad) || cantidad == "")){
					if (mensaje == ""){
						mensaje = "Digite la cantidad"
					}else{
						mensaje += "\nDigite la cantidad"
					}
				}
				
				if (mensaje != ""){
					alert(mensaje);
					return false;
				}
				
				return true;
				
			}
		</script>

		<!-- INICIO MENU -->
		<!-- <div th:replace="layout/layout :: nav"></div> -->
		<!-- FIN MENU -->

		<div class="main-content">
			<div class="main-content-inner">
				<!-- INICIO INICIO -->
				<!-- <div th:replace="layout/layout :: inicio"></div> -->
				<!-- FIN INICIO -->

				<div class="page-content">
					<!-- INICIO CONFIGURACION -->
					<div th:replace="layout/layout :: configuracion"></div>
					<!-- FIN CONFIGURACION -->

					<div class="page-header">
						<h1>
							Detalle ventas <small><i
								class="ace-icon fa fa-angle-double-right"></i> Registro detalle venta </small>
						</h1>
					</div>
					<!-- /.page-header -->

					<!-- /.page-validation -->
					<div th:object="${facturaDet}" th:remove="tag">
						<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
							<li th:each="err: ${#fields.errors('*')}" th:text="${err}">
							</li>
						</ul>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<!-- /.row -->

							<div class="row center-block">
								<div class="col-xs-10">
									<!-- div.table-responsive modal-footer no-margin-top-->
									<form th:action="@{/ventas/det-ventas-new}" th:object="${facturaDet}" method="post" autocomplete="off">
										
										<div class="form-group row">
											<label for="cliente" class="col-sm-1 col-form-label"
												th:text="'Detalle'"></label>
											<div class="col-sm-2">
												<input disabled="disabled" type="text" class="form-control"
													th:field="*{detalleId}" placeholder="Numero" />
											</div>
											<label for="cliente" class="col-sm-2 col-form-label"
												th:text="'Numero Fac'"></label>
											<div class="col-sm-2">
												<input disabled="disabled" type="text" class="form-control"
													th:field="*{facturaId.numero}" placeholder="Numero" />
											</div>
											<div class="col-sm-2">
												<input type="hidden" th:field="*{detalleId}"/>
												<input type="hidden" th:field="*{maestra}"/>
												<input type="hidden" th:field="*{facturaId}"/>
											</div>
										</div>
										
										<div class="form-group row">
											<label for="buscar_producto_new_fac"
												class="col-sm-1 col-form-label"
												th:text="'Producto'"></label>
											<div class="col-sm-9">
												<input type="text" id="buscar_producto_new_fac" name="buscar_producto_new_fac" class="ui-widget col-sm-9 small" />
											</div>
											<h5 align="left"><span id="errorItem"></span></h5>
										</div>
										
										<div class="form-group row">
											<label for="codigo" class="col-sm-1 col-form-label"
												th:text="'Producto'"></label>
											<div class="col-sm-1">
												<input disabled="disabled" type="text" class="form-control" id="codigo" name="codigo"/>
											</div>
											<div class="col-sm-6">
												<input disabled="disabled" type="text" class="form-control" id="nombre" name="nombre"/>
											</div>
											<div class="col-sm-1">
												<input type="hidden" class="form-control" id="maestraId" name="maestraId"/>
											</div>
										</div>
										
										<div class="form-group row">
											<label for="precio" class="col-sm-1 col-form-label"
												th:text="'Precio'"></label>
											<div class="col-sm-4">
												<input type="number" class="form-control" name="precio" step=".01"
													th:field="*{precio}" readonly/>
											</div>
										</div>

										<div class="form-group row">
											<label for="cantidad" class="col-sm-1 col-form-label"
												th:text="'Cantidad'"></label>
											<div class="col-sm-4">
												<input type="number" class="form-control" name="cantidad" step=".01"
													th:field="*{cantidad}" placeholder="Cantidad" />
											</div>
										</div>

										<div class="form-group row">
											<button name="accion" class="btn btn-warning" type="submit"
												onclick="return validarDatos();" value="actualizar">
												<i class="fa fa-edit"></i> Guardar
											</button>
											<a
												th:href="@{/ventas/ventas-ver/} + *{facturaId.facturaId}">
												<button name="accion" class="btn btn-default" type="button"
													value="cancelar">
													<i class="fa fa-close"></i> Cancelar
												</button>
											</a>
										</div>
									</form>

								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>

						<!-- PAGE CONTENT ENDS -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		</div>
	</div>
	<!-- /.main-content -->

	<!-- INICIO FOOTER -->
	<!-- <footer th:replace="layout/layout :: footer"></footer> -->
	<!-- INICIO FOOTER -->

	<!-- <script th:replace="layout/js/autocompletar-maestras :: autoMaestra"></script> -->

</body>
</html>