<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- INICIO HEAD -->
<head th:replace="layout/layout :: head"></head>
<!-- FIN HEAD -->

<body class="no-skin">

	<!-- INICIO ENCABEZADO -->
	<div th:replace="layout/layout :: header"></div>
	<!-- FIN ENCABEZADO -->

	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.loadState('main-container')
			} catch (e) {
			}
			
			function validarDatos() {
				
				var mensaje = "";
				
				var cliente = $('select[name="cliente"]').val();
				if((isNaN(cliente) || cliente <= 0)){
					mensaje = "Seleccione el cliente";
				}
				
				var bodega = $('select[name="bodega"]').val();
				if((isNaN(bodega) || bodega <= 0)){
					if (mensaje == ""){
						mensaje = "Seleccione la Bodega"
					}else{
						mensaje += "\nSeleccione la Bodega"
					}
				}
				
				var costo = 0;
				var costoTotal = 0;
				var pos = 0;
				var retorno = true;
				$('span[id^="valorTotal_"]').each(function(){
					if(pos > 0){
						if(retorno){
							costo = parseInt($(this).html());
							costoTotal += costo;
							if((isNaN(costo) || costo <= 0)){
								retorno = false;
								//alert("FALSE");
							}else{
								retorno = true;
								//alert("TRUE");
							}
							//alert("costo Producto: " + costo);
						}
					}
					pos++;
				});
				
				if(costoTotal == 0){
					if (mensaje == ""){
						mensaje = "No tiene productos registrados"
					}else{
						mensaje += "\nNo tiene productos registrados"
					}
				}
				
				if (mensaje != ""){
					alert(mensaje);
					return false;
				}
				
				return true;
				
			}
			
		</script>

		<!-- INICIO MENU -->
		<!-- <div th:replace="layout/layout :: nav"></div> -->
		<!-- FIN MENU -->

		<div class="main-content">
			<div class="main-content-inner">
				<!-- INICIO INICIO -->
				<!-- <div th:replace="layout/layout :: inicio"></div> -->
				<!-- FIN INICIO -->

				<div class="page-content">
					<!-- INICIO CONFIGURACION -->
					<div th:replace="layout/layout :: configuracion"></div>
					<!-- FIN CONFIGURACION -->

					<div class="page-header">
						<h1>
							Ventas <small><i
								class="ace-icon fa fa-angle-double-right"></i> Registro de venta </small>
						</h1>
					</div>
					<!-- /.page-header -->

					<!-- /.page-validation -->
					<div th:object="${factura}" th:remove="tag">
						<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
							<li th:each="err: ${#fields.errors('*')}" th:text="${err}">
							</li>
						</ul>
					</div>
					<div th:object="${factura}" th:remove="tag">
						<ul th:if="${error} != null" class="alert alert-danger">
							<li th:text="${error}">
							</li>
						</ul>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<!-- /.row -->

							<div class="row center-block">
								<div class="col-xs-10">
									<!-- div.table-responsive modal-footer no-margin-top-->
									<form th:action="@{/ventas/ventas-form}" th:object="${factura}" method="post" autocomplete="off">

										<div class="form-group row">
											<input type="hidden" name="id" class="form-control" th:field="*{facturaId}"/>
											<label for="numero" class="col-sm-1 col-form-label" th:text="'Numero'"></label>
											<div class="col-sm-2">
												<input type="text" name="numero" disabled="disabled"
													class="form-control" th:field="*{numero}"
													placeholder="Numero" />
											</div>

											<label for="cliente" class="col-sm-1 col-form-label"
												th:text="'Cliente'"></label>
											<div>
												<select th:field="*{cliente}" class="col-sm-4" name="proveedor">
													<option value="0">Seleccione Cliente</option>
													<option th:each="listCli: ${ListClientes}"
														th:value="${listCli.clienteId}"
														th:text="${listCli.razonSocial}" />
												</select>
											</div>
											
										</div>
										
										<div class="form-group row">
											<label for="bodega" class="col-sm-1 col-form-label" th:text="'Bodega'"></label>
											<div>
												<select th:field="*{bodega}" class="col-sm-3" name="bodega">
													<option value="0">Seleccione la Bodega</option>
													<option th:each="listBodega: ${listBodegas}"
														th:value="${listBodega.bodegaId}"
														th:text="${listBodega.descripcion}" />
												</select>
											</div>
										</div>
										
										<div class="form-group row">
											<label for="observacion" class="col-sm-1 col-form-label"
												th:text="'Observación'"></label>
											<div class="col-sm-8">
												<textarea cols="20" th:field="*{observaciones}"
													class="form-control" placeholder="Observaciones"></textarea>
											</div>
										</div>
										
										<div class="form-group row">
											<table th:replace="ventas/plantilla-items :: items"></table>
										</div>
										
										<div class="form-group row">
											<label for="buscar_producto_fac"
												class="col-sm-1 col-form-label"
												th:text="'Producto'"></label>
											<div class="col-sm-9">
												<input type="text" id="buscar_producto_fac" name="buscar_producto_fac" class="ui-widget col-sm-12 small" />
												<h7 align="left"><span style="color: red;" id="errorItem"></span></h7>
											</div>
										</div>

										<div>
											<table id="cargarItem" class="table table-sm table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th style="visibility: hidden;">ID</th>
														<th style="width:10%">Codigo</th>
														<th style="width:40%">Producto</th>
														<th style="width:15%">Precio</th>
														<th style="width:15%">Cantidad</th>
														<th style="width:15%">Total</th>
														<th style="width:5%"></th>
													</tr>
												</thead>

												<tbody id="tabla_prod">
												</tbody>
											</table>
											<h5 align="right">Total factura: <span name="valTotal" id="valorTotal">0</span></h5>
										</div>

										

										<div class="form-group row">
											<a th:href="@{/ventas/ventas-listar}">
												<button name="accion" class="btn btn-default" type="button"
													value="cancelar">
													<i class="fa fa-close"></i> Cancelar
												</button>
											</a>
											<button name="accion" class="btn btn-warning" type="submit"
												value="actualizar" onclick="return validarDatos();">
												<i class="fa fa-save"></i> Guardar
											</button>
										</div>
									</form>

								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>

						<!-- PAGE CONTENT ENDS -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		</div>
	</div>
	<!-- /.main-content -->

	<!-- INICIO FOOTER -->
	<!-- <footer th:replace="layout/layout :: footer"></footer> -->
	<!-- INICIO FOOTER -->

	<!-- <script th:replace="layout/js/autocompletar-maestras :: autoMaestra"></script> -->

</body>
</html>