<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- INICIO HEAD -->
<head th:replace="layout/layout :: head"></head>
<!-- FIN HEAD -->

<body class="no-skin">

	<!-- INICIO ENCABEZADO -->
	<div th:replace="layout/layout :: header"></div>
	<!-- FIN ENCABEZADO -->

	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.loadState('main-container')
			} catch (e) {
			}
		</script>

		<!-- INICIO MENU -->
		<div th:replace="layout/layout :: nav"></div>
		<!-- FIN MENU -->

		<div class="main-content">
			<div class="main-content-inner">
				<!-- INICIO INICIO -->
				<div th:replace="layout/layout :: inicio"></div>
				<!-- FIN INICIO -->

				<div class="page-content">
					<!-- INICIO CONFIGURACION -->
					<div th:replace="layout/layout :: configuracion"></div>
					<!-- FIN CONFIGURACION -->
					
					<div class="page-header">
						<h1>Modulos 
							<small><i class="ace-icon fa fa-angle-double-right"></i> Edición de nivel
							</small>
						</h1>
					</div>
					<div class="page-header">
						<h1> Nivel xxx: 
							<tr>
							<td class="hidden-480 small" th:text="${nivel.descripcion}"></td>
							</tr>
						</h1>
					</div>
					<!-- /.page-header -->
					
					<!-- /.page-validation -->
					<div th:object="${opcionNivel}" th:remove="tag">
						<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
							<li th:each="err: ${#fields.errors('*')}" th:text="${err}">
							</li>
						</ul>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<!-- /.row -->

							<div class="row">
								<div class="col-xs-12">
									<!-- div.table-responsive modal-footer no-margin-top-->
									<form th:action="@{/niveles/opciones/opciones-nivel-form-update}" th:object="${opcionNivel}" method="post">
										
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">ID:</label>
											<div class="col-sm-2">
												<input disabled="true" type="text" name="id" class="form-control"
													th:field="*{nivelOpId}" placeholder="ID" />
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Modulo/Opcion: </label>
											<div class="col-sm-4">
												<select th:field="*{opcion}" class="col-sm-10">
													<option value="0">Seleccione Modulo</option> 
													<option th:each=" op: ${opciones}" th:value="${op.opcionId}"th:text="${op.modulo.descripcion + ' - ' + op.nombreOpcion}"/> 
												</select>
								           </div>
										</div>
										
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Tipo Acceso: </label>
											<div class="col-sm-4">
												<select th:field="*{tipoAcceso}" class="col-sm-6">
													<option value="0">Seleccione Tipo de acceso</option> 
													<option value="1">Solo Consulta</option>
													<option value="2">Actualización</option>
													<option value="3">Control Total</option> 
												</select>
								           </div>
										</div>

										<div class="form-group row">
											<button name="accion" class="btn btn-warning" type="submit"
												value="actualizar">
												<i class="fa fa-edit"></i> Guardar
											</button>
											<a th:href="@{/niveles/opciones/opciones-nivel-list/} + ${nivel.nivelId}">
												<button name="accion" class="btn btn-default" type="button"
													value="cancelar">
													<i class="fa fa-close"></i> Cancelar
												</button>
											</a>

										</div>
									</form>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>

						<!-- PAGE CONTENT ENDS -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		</div>
	</div>
	<!-- /.main-content -->

	<!-- INICIO FOOTER -->
	<footer th:replace="layout/layout :: footer"></footer>
	<!-- INICIO FOOTER -->
</body>
</html>