<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- INICIO HEAD -->
<head th:replace="layout/layout :: head"></head>
<!-- FIN HEAD -->

<body class="no-skin">

	<!-- INICIO ENCABEZADO -->
	<div th:replace="layout/layout :: header"></div>
	<!-- FIN ENCABEZADO -->

	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.loadState('main-container')
			} catch (e) {
			}
		</script>

		<!-- INICIO MENU -->
		<div th:replace="layout/layout :: nav"></div>
		<!-- FIN MENU -->

		<div class="main-content">
			<div class="main-content-inner">
				<!-- INICIO INICIO -->
				<div th:replace="layout/layout :: inicio"></div>
				<!-- FIN INICIO -->

				<div class="page-content">
					<!-- INICIO CONFIGURACION -->
					<div th:replace="layout/layout :: configuracion"></div>
					<!-- FIN CONFIGURACION -->
					
					<div class="page-header">
						<h1> Opciones Nivel
							<small><i class="ace-icon fa fa-angle-double-right"></i> Lista de opciones por nivel</small>
						</h1>
					</div>
					
					<div class="page-header">
						<h1> Nivel: 
							<tr>
							<td class="hidden-480 small" th:text="${nivelPrincipal.descripcion}"></td>
							</tr>
						</h1>
					</div>
					<!-- /.page-header -->
					
					<!-- INICIO VALIDACIONES -->
					<div th:replace="layout/layout :: validaciones"></div>
					<!-- FIN VALIDACIONES -->

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<!-- /.row -->

							<div class="row">
								<div class="col-xs-12">
									<!-- div.table-responsive modal-footer no-margin-top-->
									
									<div class="modal-footer no-margin-top">
										<form th:action="@{/niveles/opciones/opciones-nivel-form/} + ${nivelPrincipal.nivelId}" th:object="${nivelPrincipal}" method="post">
										<button
											type="submit"
											class="btn btn-sm btn-success pull-left" data-dismiss="modal">
											<i class="ace-icon fa fa-pencil"></i> Registrar
										</button>
										</form>
										<button
											th:onclick="window.location.href='/niveles/niveles-listar'"
											class="btn btn-sm btn-warning pull-left" data-dismiss="modal">
											<i class="ace-icon fa fa-reply"></i> Regresar
										</button>
									</div>
									
									<!-- div.dataTables_borderWrap -->
									<div>
										<table id="dynamic-table"
											class="table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th>ID</th>
													<th class="hidden-480">Modulo</th>
													<th class="hidden-480">Opción</th>
													<th></th>
													<th></th>
													<th class="hidden-480"></th>
													<th></th>
												</tr>
											</thead>

											<tbody>
												<tr th:each="opNivel: ${opcionesNivel}">
													<td th:text="${opNivel.nivelOpId}"></td>
													<td class="hidden-480" th:text="${opNivel.opcion.modulo.descripcion}"></td>
													<td th:text="${opNivel.opcion.nombreOpcion}"></td>
													<td></td>
													<td><span class="label label-sm label-success"></span></td>
													<td><span class="label label-sm label-success"></span></td>
													<td>
														<div class="hidden-sm hidden-xs action-buttons">
															<a class="red"
																th:href="@{/niveles/opciones/eliminar/} + ${opNivel.nivelOpId}"
																title="Eliminar"
																onclick="return confirm('¿Desea eliminar el registro seleccionado?');">
																<i class="ace-icon fa fa-trash-o bigger-130"></i>
															</a>
														</div>

														<!-- INICIO BOTONES DETALLE -->
														<div th:replace="layout/layout :: botones"></div>
														<!-- FIN BOTONES DETALLE -->
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>

						<!-- PAGE CONTENT ENDS -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		</div>
	</div>
	<!-- /.main-content -->

	<!-- INICIO FOOTER -->
	<footer th:replace="layout/layout :: footer"></footer>
	<!-- INICIO FOOTER -->
</body>
</html>

