<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- INICIO HEAD -->
<head th:replace="layout/layout :: head"></head>
<!-- FIN HEAD -->

<body class="no-skin">

	<!-- INICIO ENCABEZADO -->
	<div th:replace="layout/layout :: header"></div>
	<!-- FIN ENCABEZADO -->

	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.loadState('main-container')
			} catch (e) {
			}
			
			function validarDatos() {
				
				var mensaje = "";
				
				var cantidad = $('input[name="cantidadRec"]').val();
				if((isNaN(cantidad) || cantidad < 0)){
					mensaje = "Ingrese la cantidad a recibir";
				}
				
				if (mensaje != ""){
					alert(mensaje);
					return false;
				}
				
				return true;
				
			}
		</script>

		<!-- INICIO MENU -->
		<!-- <div th:replace="layout/layout :: nav"></div> -->
		<!-- FIN MENU -->

		<div class="main-content">
			<div class="main-content-inner">
				<!-- INICIO INICIO -->
				<!-- <div th:replace="layout/layout :: inicio"></div> -->
				<!-- FIN INICIO -->

				<div class="page-content">
					<!-- INICIO CONFIGURACION -->
					<div th:replace="layout/layout :: configuracion"></div>
					<!-- FIN CONFIGURACION -->

					<div class="page-header">
						<h1>
							Detalle Movimiento de Inventario <small><i
								class="ace-icon fa fa-angle-double-right"></i> Edición detalle Movimiento de Inventario </small>
						</h1>
					</div>
					<!-- /.page-header -->

					<!-- /.page-validation -->
					<div th:object="${movInventarioDet}" th:remove="tag">
						<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
							<li th:each="err: ${#fields.errors('*')}" th:text="${err}">
							</li>
						</ul>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<!-- /.row -->

							<div class="row center-block">
								<div class="col-xs-10">
									<!-- div.table-responsive modal-footer no-margin-top-->
									<form th:action="@{/mov_inventarios/traslados-recibo/det-mov-form}" th:object="${movInventarioDet}" method="post" autocomplete="off">
										
										<div class="form-group row">
											<label for="cliente" class="col-sm-1 col-form-label"
												th:text="'Detalle'"></label>
											<div class="col-sm-2">
												<input disabled="disabled" type="text" class="form-control"
													th:field="*{detalleId}" placeholder="Numero" />
											</div>
											<label for="cliente" class="col-sm-2 col-form-label"
												th:text="'Numero Mov'"></label>
											<div class="col-sm-2">
												<input disabled="disabled" type="text" class="form-control"
													th:field="*{movInventario.numero}" placeholder="Numero" />
											</div>
											
											<div class="col-sm-2">
												<input type="hidden" th:field="*{detalleId}"/>
												<input type="hidden" th:field="*{maestra}"/>
												<input type="hidden" th:field="*{movInventario}"/>
											</div>
										</div>
										<div class="form-group row">
											<label for="maestra" class="col-sm-1 col-form-label"
												th:text="'Producto'"></label>
											<div class="col-sm-1">
												<input disabled="disabled" type="text" name="id"
													class="form-control" th:field="*{maestra.codigo}" />
											</div>
											<div class="col-sm-6">
												<input disabled="disabled" type="text" name="id"
													class="form-control" th:field="*{maestra.nombre}" />
											</div>
										</div>

										<div class="form-group row">
											<label for="valorCosto" class="col-sm-1 col-form-label"
												th:text="'Costo'"></label>
											<div class="col-sm-4">
												<input type="number" class="form-control" step=".01" readonly="readonly"
													th:field="*{valorCosto}" placeholder="Costo" />
											</div>
										</div>

										<div class="form-group row">
											<label for="cantidad" class="col-sm-1 col-form-label"
												th:text="'Cantidad'"></label>
											<div class="col-sm-4">
												<input type="number" class="form-control" readonly="readonly" step=".01"
													th:field="*{cantidad}" placeholder="Costo" />
											</div>
										</div>
										
										<div class="form-group row">
											<label for="cantidadRecibe" class="col-sm-1 col-form-label"
												th:text="'Cant. Recibe'"></label>
											<div class="col-sm-4">
												<input type="number" class="form-control" step=".01"
													th:field="*{cantidadRec}" placeholder="Cantidad Recibe" />
											</div>
										</div>

										<div class="form-group row">
											<button name="accion" class="btn btn-warning" type="submit"
												value="actualizar" onclick="return validarDatos();">
												<i class="fa fa-edit"></i> Guardar
											</button>
											<a
												th:href="@{/mov_inventarios/traslados-recibo/recibir-ver/} + *{movInventario.movimientoId}">
												<button name="accion" class="btn btn-default" type="button"
													value="cancelar">
													<i class="fa fa-close"></i> Cancelar
												</button>
											</a>
										</div>
									</form>

								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>

						<!-- PAGE CONTENT ENDS -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		</div>
	</div>
	<!-- /.main-content -->

	<!-- INICIO FOOTER -->
	<!-- <footer th:replace="layout/layout :: footer"></footer> -->
	<!-- INICIO FOOTER -->

	<!-- <script th:replace="layout/js/autocompletar-maestras :: autoMaestra"></script> -->

</body>
</html>