<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- INICIO HEAD -->
<head th:replace="layout/layout :: head"></head>
<!-- FIN HEAD -->

<body class="no-skin">

	<!-- INICIO ENCABEZADO -->
	<div th:replace="layout/layout :: header"></div>
	<!-- FIN ENCABEZADO -->

	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.loadState('main-container')
			} catch (e) {
			}
		</script>

		<!-- INICIO MENU -->
		<div th:replace="layout/layout :: nav"></div>
		<!-- FIN MENU -->

		<div class="main-content">
			<div class="main-content-inner">
				<!-- INICIO INICIO -->
				<!-- <div th:replace="layout/layout :: inicio"></div> -->
				<!-- FIN INICIO -->

				<div class="page-content">
					<!-- INICIO CONFIGURACION -->
					<div th:replace="layout/layout :: configuracion"></div>
					<!-- FIN CONFIGURACION -->
					
					<div class="page-header">
						<h1> Movimiento de Inventarios 
							<small><i class="ace-icon fa fa-angle-double-right"></i> Recibir Traslados</small>
						</h1>
					</div>
					<!-- /.page-header -->
					
					<!-- INICIO VALIDACIONES -->
					<div th:replace="layout/layout :: validaciones"></div>
					<!-- FIN VALIDACIONES -->

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<!-- /.row -->

							<div class="row">
								<div class="col-xs-12">
									<!-- div.table-responsive modal-footer no-margin-top-->
									<!-- div.dataTables_borderWrap -->
									<div>
										<table id="dynamic-table"
											class="table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th>Numero</th>
													<th class="hidden-480">Proveedor</th>
													<th class="hidden-480">Fecha</th>
													<th>Usuario</th>
													<th>Observaciones</th>
													<th class="hidden-480">Estado</th>
													<th></th>
												</tr>
											</thead>

											<tbody>
												<tr th:each="movimiento: ${listMovimientos}">
													<td><a class="btn btn-link" th:href="@{/mov_inventarios/traslados-recibo/recibir-ver/} + ${movimiento.movimientoId}" th:text="${movimiento.numero}"></a></td>
													<td class="hidden-480" th:text="${movimiento.proveedor.nombre}"></td>
													<td th:text="${movimiento.fechaRegistro}"></td>
													<td th:text="${movimiento.usuario.nombres} + ' ' +${movimiento.usuario.apellidos}"></td>
													<td th:text="${movimiento.observaciones}"><span class="label label-sm label-success"></span></td>
													<td th:text="${movimiento.estadoMov.descripcion}"><span class="label label-sm label-success"></span></td>
													<td>
														<div class="hidden-sm hidden-xs action-buttons">
															<a class="green" th:href="@{/mov_inventarios/traslados-recibo/recibir-ver/} + ${movimiento.movimientoId}" title="Recibir"> 
																<i class="ace-icon fa fa-download bigger-130"></i>
															</a> 
														</div>

														<!-- INICIO BOTONES DETALLE -->
														<div th:replace="layout/layout :: botones"></div>
														<!-- FIN BOTONES DETALLE -->
														
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>

						<!-- PAGE CONTENT ENDS -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		</div>
	</div>
	<!-- /.main-content -->

	<!-- INICIO FOOTER -->
	<footer th:replace="layout/layout :: footer"></footer>
	<!-- INICIO FOOTER -->
</body>
</html>

