<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- INICIO HEAD -->
<head th:replace="layout/layout :: head"></head>
<!-- FIN HEAD -->

<body class="no-skin">

	<!-- INICIO ENCABEZADO -->
	<div th:replace="layout/layout :: header"></div>
	<!-- FIN ENCABEZADO -->

	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.loadState('main-container')
			} catch (e) {
			}
			
			function validarDatos() {
				
				var mensaje = "";
				
				var proveedor = $('select[name="proveedor"]').val();
				if((isNaN(proveedor) || proveedor <= 0)){
					mensaje = "Seleccione el proveedor";
				}
				
				var docSoporte = $('input[name="docSoporte"]').val();
				if((isNaN(docSoporte) || docSoporte == "")){
					if (mensaje == ""){
						mensaje = "Digite el documento soporte"
					}else{
						mensaje += "\nDigite el documento soporte"
					}
				}
				
				var tipoMovimiento = $('select[name="tipoMovimiento"]').val();
				if((isNaN(tipoMovimiento) || tipoMovimiento <= 0)){
					if (mensaje == ""){
						mensaje = "Seleccione el Tipo de Movimiento"
					}else{
						mensaje += "\nSeleccione el Tipo de Movimiento"
					}
				}
				
				var bodegaOrigen = $('select[name="bodegaOrigen"]').val();
				if((isNaN(bodegaOrigen) || bodegaOrigen <= 0)){
					if (mensaje == ""){
						mensaje = "Seleccione la Bodega de Origen"
					}else{
						mensaje += "\nSeleccione la Bodega de Origen"
					}
				}
				
				var costo = 0;
				var costoTotal = 0;
				var pos = 0;
				var retorno = true;
				
				$('span[id^="valorTotal_"]').each(function(){
					if(pos > 0){
						if(retorno){
							costo = parseFloat($(this).html());
							costoTotal += costo;
							if((isNaN(costo) || costo <= 0)){
								retorno = false;
								//alert("FALSE");
							}else{
								retorno = true;
								//alert("TRUE");
							}
							//alert("costo Producto: " + costo);
						}
					}
					pos++;
				});
				
				if(costoTotal == 0){
					if (mensaje == ""){
						mensaje = "No tiene productos registrados"
					}else{
						mensaje += "\nNo tiene productos registrados"
					}
				}
				if(!retorno){
					if (mensaje == ""){
						mensaje = "Verifique la información de costos o cantidades, existen valores inconsistentes"
					}else{
						mensaje += "\nVerifique la información de costos o cantidades, existen valores inconsistentes"
					}
					//alert("Verifique la información de costos o cantidades, existen valores inconsistentes.");
				}
				
				if (mensaje != ""){
					alert(mensaje);
					return false;
				}
				
				return true;
				
			}
			
		</script>

		<!-- INICIO MENU -->
		<!-- <div th:replace="layout/layout :: nav"></div> -->
		<!-- FIN MENU -->

		<div class="main-content">
			<div class="main-content-inner">
				<!-- INICIO INICIO -->
				<!-- <div th:replace="layout/layout :: inicio"></div> -->
				<!-- FIN INICIO -->

				<div class="page-content">
					<!-- INICIO CONFIGURACION -->
					<div th:replace="layout/layout :: configuracion"></div>
					<!-- FIN CONFIGURACION -->

					<div class="page-header">
						<h1>
							Movimiento de Inventarios <small><i
								class="ace-icon fa fa-angle-double-right"></i> Registro de entrada </small>
						</h1>
					</div>
					<!-- /.page-header -->

					<!-- /.page-validation -->
					<div th:object="${movInventario}" th:remove="tag">
						<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
							<li th:each="err: ${#fields.errors('*')}" th:text="${err}">
							</li>
						</ul>
					</div>
					<div th:object="${movInventario}" th:remove="tag">
						<ul th:if="${error} != null" class="alert alert-danger">
							<li th:text="${error}">
							</li>
						</ul>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<!-- /.row -->

							<div class="row center-block">
								<div class="col-xs-10">
									<!-- div.table-responsive modal-footer no-margin-top-->
									<form th:action="@{/mov_inventarios/entradas/entradas-form}" th:object="${movInventario}" method="post" autocomplete="off">

										<div class="form-group row">
											<input type="hidden" name="id" class="form-control" th:field="*{movimientoId}"/>
											<label for="cliente" class="col-sm-1 col-form-label" th:text="'Numero'"></label>
											<div class="col-sm-2">
												<input type="text" name="numero" disabled="disabled"
													class="form-control" th:field="*{numero}"
													placeholder="Numero" />
											</div>

											<label for="proveedor" class="col-sm-1 col-form-label"
												th:text="'Proveedor'"></label>
											<div>
												<select th:field="*{proveedor}" class="col-sm-4" name="proveedor">
													<option value="0">Seleccione Proveedor</option>
													<option th:each="listPro: ${listProveedor}"
														th:value="${listPro.proveedorId}"
														th:text="${listPro.nombre}" />
												</select>
											</div>
											
											<label for="cliente" class="col-sm-1 col-form-label"
												th:text="'Soporte'"></label>
											<div class="col-sm-2">
												<input type="text" name="docSoporte"
													class="form-control" th:field="*{docSoporte}"
													placeholder="No. Documento" />
											</div>
										</div>
										
										<div class="form-group row">
											<label for="tipomov" class="col-sm-1 col-form-label" th:text="'Tipo'"></label>
											<div class="col-sm-2">
												<select th:field="*{tipoMovimiento}" name="tipoMovimiento">
													<option value="0">Seleccione Tipo</option>
													<option th:each="listTipo: ${tipoMovimiento}"
														th:value="${listTipo.tipoId}"
														th:text="${listTipo.descripcion}" />
												</select>
											</div>
											  
											<label for="bodegaOrigen" class="col-sm-2 col-form-label" th:text="'Bodega de Entrada'"></label>
											<div>
												<select th:field="*{bodegaOrigen}" class="col-sm-3" name="bodegaOrigen">
													<option value="0">Bodega de Entrada</option>
													<option th:each="listBodega: ${listBodegas}"
														th:value="${listBodega.bodegaId}"
														th:text="${listBodega.descripcion}" />
												</select>
											</div>
											<!--
											<label for="bodegaOrigen" class="col-sm-1 col-form-label" th:text="'Destino'"></label>
											<div>
												<select th:field="*{bodegaOrigen}" class="col-sm-3" name="bodegaOrigen">
													<option value="0">Bodega de Destino</option>
													<option th:each="listBodega: ${listBodegas}"
														th:value="${listBodega.bodegaId}"
														th:text="${listBodega.descripcion}" />
												</select>
											</div>
											-->
										</div>
										
										<div class="form-group row">
											<label for="observacion" class="col-sm-1 col-form-label"
												th:text="'Observación'"></label>
											<div class="col-sm-8">
												<textarea cols="20" th:field="*{observaciones}"
													class="form-control" placeholder="Observaciones"></textarea>
											</div>
										</div>
										
										<div class="form-group row">
											<table th:replace="mov_inventarios/plantilla-items :: items"></table>
										</div>
										
										<div class="form-group row">
											<label for="buscar_producto"
												class="col-sm-1 col-form-label"
												th:text="'Producto'"></label>
											<div class="col-sm-9">
												<input type="text" id="buscar_producto" name="buscar_producto" class="ui-widget col-sm-12 small" />
												<h7 align="left"><span style="color: red;" id="errorItem"></span></h7>
											</div>
											
										</div>

										<div>
											<table id="cargarItem" class="table table-sm table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th style="visibility: hidden;">ID</th>
														<th>Codigo</th>
														<th>Producto</th>
														<th>Costo</th>
														<th>Cantidad</th>
														<th>Total</th>
														<th></th>
													</tr>
												</thead>

												<tbody id="tabla_prod">
												</tbody>
											</table>
											<h5 align="right">Total Movimiento: <span name="valTotal" id="valorTotal">0</span></h5>
										</div>

										

										<div class="form-group row">
											<a th:href="@{/mov_inventarios/entradas/entradas-listar}">
												<button name="accion" class="btn btn-default" type="button"
													value="cancelar">
													<i class="fa fa-close"></i> Cancelar
												</button>
											</a>
											<button name="accion" class="btn btn-warning" type="submit"
												value="actualizar" onclick="return validarDatos();">
												<i class="fa fa-save"></i> Guardar
											</button>
										</div>
									</form>

								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>

						<!-- PAGE CONTENT ENDS -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		</div>
	</div>
	<!-- /.main-content -->

	<!-- INICIO FOOTER -->
	<!-- <footer th:replace="layout/layout :: footer"></footer> -->
	<!-- INICIO FOOTER -->

	<!-- <script th:replace="layout/js/autocompletar-maestras :: autoMaestra"></script> -->

</body>
</html>