<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- INICIO HEAD -->
<head th:replace="layout/layout :: head"></head>
<!-- FIN HEAD -->

<body class="no-skin">

	<!-- INICIO ENCABEZADO -->
	<div th:replace="layout/layout :: header"></div>
	<!-- FIN ENCABEZADO -->

	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.loadState('main-container')
			} catch (e) {
			}
		</script>

		<!-- INICIO MENU -->
		<!-- <div th:replace="layout/layout :: nav"></div> -->
		<!-- FIN MENU -->

		<div class="main-content">
			<div class="main-content-inner">
				<!-- INICIO INICIO -->
				<!-- <div th:replace="layout/layout :: inicio"></div> -->
				<!-- FIN INICIO -->

				<div class="page-content">
					<!-- INICIO CONFIGURACION -->
					<div th:replace="layout/layout :: configuracion"></div>
					<!-- FIN CONFIGURACION -->
					
					<div class="page-header">
						<h1> Kardex de Inventarios 
							<small><i class="ace-icon fa fa-angle-double-right"></i> Reporte de Kardex de Inventario</small>
						</h1>
					</div>
					<!-- /.page-header -->
					
					<!-- INICIO VALIDACIONES -->
					<div th:replace="layout/layout :: validaciones"></div>
					<!-- FIN VALIDACIONES -->

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<!-- /.row -->

							<div class="row">
								<div class="col-xs-12">
								
									<div class="page-header">
										<h1> Bodega: 
											<tr>
												<td class="hidden-480 small" th:text=" ${bodega.descripcion} + '  **  '"></td>
											</tr>
										Maestra: 
											<tr>
												<td class="hidden-480 small" th:text=" ${maestra.codigo + ' - ' + maestra.nombre}"></td>
											</tr>
										</h1>
									</div>
									
									<!-- div.table-responsive modal-footer no-margin-top-->
									<div class="modal-footer no-margin-top">
									<table>
										<tr>
											<td>
												<button th:onclick="window.location.href='/mov_inventarios/reportes/rep-kardex-inventario-form'" class="btn btn-sm btn-success pull-left" data-dismiss="modal">
													<i class="ace-icon fa fa-newspaper-o"></i> Nueva Consulta
												</button>
											</td>
											<td>
												<form th:action="@{/mov_inventarios/reportes/rep-kardex-inventario-ver-pdf?format=pdf}" target="_blank" th:object="${movInventarioRep}" method="post">
													<div class="modal-footer no-margin-top"> 
														<button type="submit" class="btn btn-sm btn-primary pull-left" data-dismiss="modal">
															<i class="ace-icon fa fa-print"></i> Imprimir
														</button>
													</div>
												</form>
											</td>
										</tr>
									</table>
									</div>
									<!-- div.dataTables_borderWrap -->
						
									<div>
										<table id="dynamic-table"
											class="table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th class="text-center">Documento</th>
													<th class="text-center">Soporte</th>
													<th class="hidden-480 text-center">Tipo</th>
													<th class="hidden-480 text-center">Fecha</th>
													<th class="hidden-480 text-center">Costo</th>
													<th class="text-center">S. Anterior</th>
													<th class="text-center">Entrada</th>
													<th class="hidden-480 text-center">Salida</th>
													<th class="text-center">S. Nuevo</th>
												</tr>
											</thead>

											<tbody>
												<tr th:each="kardex: ${listKardexMov}">
													<td th:text="${kardex.documento}"></td>
													<td th:text="${kardex.getSoporte()}"></td>
													<td th:text="${kardex.tipoMov}"></td>
													<td th:text="${kardex.getFechaFormat()}"></td>
													<td class="text-right" th:text="${kardex.getCostoPromFormat()}"></td>
													<td class="text-right" th:text="${kardex.getSaldoAnteriorFormat()}"></td>
													<td class="text-right" th:text="${kardex.tipoMov == 'E'} ? ${kardex.getCantidadFormat()} : ''"></td>
													<td class="text-right" th:text="${kardex.tipoMov == 'S'} ? ${kardex.getCantidadFormat()} : ''"></td>
													<td class="text-right" th:text="${kardex.getSaldoNuevoFormat()}"></td>
												</tr>
											</tbody>
										</table>
									</div>
									
									<div class="page-header">
										<h1> Saldo Final: 
											<tr al>
												<td class="hidden-480 small" th:text=" ${kardexFinal.getSaldoNuevoFormat()}"></td>
											</tr>
										</h1>
									</div>
									
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>

						<!-- PAGE CONTENT ENDS -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		</div>
	</div>
	<!-- /.main-content -->

	<!-- INICIO FOOTER -->
	<footer th:replace="layout/layout :: footer"></footer>
	<!-- INICIO FOOTER -->
</body>
</html>

