<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- INICIO HEAD -->
<head th:replace="layout/layout :: head"></head>
<!-- FIN HEAD -->

<body class="no-skin">

	<!-- INICIO ENCABEZADO -->
	<div th:replace="layout/layout :: header"></div>
	<!-- FIN ENCABEZADO -->

	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.loadState('main-container')
			} catch (e) {
			}
			
			function validarDatos() {
				
				var mensaje = "";
				/*
				var maestra = $('select[name="maestra"]').val();
				if((isNaN(maestra) || maestra <= 0)){
					mensaje = "Seleccione la Maestra";
				}
				
				var bodega = $('select[name="bodega"]').val();
				if((isNaN(bodega) || bodega <= 0)){
					if (mensaje == ""){
						mensaje = "Seleccione la Bodega"
					}else{
						mensaje += "\nSeleccione la Bodega"
					}
				}
				*/
				if (mensaje != ""){
					alert(mensaje);
					return false;
				}
				
				return true;
				
			}
			
		</script>

		<!-- INICIO MENU -->
		<div th:replace="layout/layout :: nav"></div>
		<!-- FIN MENU -->

		<div class="main-content">
			<div class="main-content-inner">
				<!-- INICIO INICIO -->
				<!-- <div th:replace="layout/layout :: inicio"></div> -->
				<!-- FIN INICIO -->

				<div class="page-content">
					<!-- INICIO CONFIGURACION -->
					<div th:replace="layout/layout :: configuracion"></div>
					<!-- FIN CONFIGURACION -->

					<div class="page-header">
						<h1>
							Saldos de Inventarios <small><i
								class="ace-icon fa fa-angle-double-right"></i> Reporte de Saldos de Inventario </small>
						</h1>
					</div>
					<!-- /.page-header -->

					<!-- /.page-validation -->
					
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<!-- /.row -->

							<div class="row center-block">
								<div class="col-xs-10">
									<!-- div.table-responsive modal-footer no-margin-top-->
									<form th:action="@{/mov_inventarios/reportes/rep-saldos-inventario-ver}" th:object="${saldosInventarioRep}" method="post">

										<div class="form-group row">
											<label for="Maestra" class="col-sm-2 col-form-label"
												th:text="'Producto'"></label>
											<div>
												<select th:field="*{maestra}" class="col-sm-6" name="maestra">
													<option value="0">Todos los Productos</option>
													<option th:each="itemMaestra: ${listMaestras}"
														th:value="${itemMaestra.maestraId}"
														th:text="${itemMaestra.nombre}" />
												</select>
											</div>
										</div>
										
										<div class="form-group row">
											  
											<label for="bodega" class="col-sm-2 col-form-label" th:text="'Bodega'"></label>
											<div>
												<select th:field="*{bodega}" class="col-sm-5" name="bodega" th:disabled="${saldosInventarioRep.todos == false} ? 'disabled'">
													<option value="0">Todas las Bodega</option>
													<option th:each="listBodega: ${listBodegas}"
														th:value="${listBodega.bodegaId}"
														th:text="${listBodega.descripcion}" />
												</select>
											</div>
										</div>
										
										<br>
										<br>
										
										<div class="form-group row">
											<button name="accion" class="btn btn-warning" type="submit"
												value="actualizar" onclick="return validarDatos();">
												<i class="fa fa-edit"></i> Generar Reporte
											</button>
										</div>
									</form>

								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>

						<!-- PAGE CONTENT ENDS -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		</div>
	</div>
	<!-- /.main-content -->

	<!-- INICIO FOOTER -->
	<footer th:replace="layout/layout :: footer"></footer>
	<!-- INICIO FOOTER -->

	<!-- <script th:replace="layout/js/autocompletar-maestras :: autoMaestra"></script> -->

</body>
</html>