<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- INICIO HEAD -->
<head th:replace="layout/layout :: head"></head>
<!-- FIN HEAD -->

<body class="no-skin">

	<!-- INICIO ENCABEZADO -->
	<div th:replace="layout/layout :: header"></div>
	<!-- FIN ENCABEZADO -->

	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.loadState('main-container')
			} catch (e) {
			}
		</script>

		<!-- INICIO MENU -->
		<!-- <div th:replace="layout/layout :: nav"></div> -->
		<!-- FIN MENU -->

		<div class="main-content">
			<div class="main-content-inner">
				<!-- INICIO INICIO -->
				<!-- <div th:replace="layout/layout :: inicio"></div> -->
				<!-- FIN INICIO -->

				<div class="page-content">
					<!-- INICIO CONFIGURACION -->
					<div th:replace="layout/layout :: configuracion"></div>
					<!-- FIN CONFIGURACION -->
					
					<div class="page-header">
						<h1> Saldos de Inventarios 
							<small><i class="ace-icon fa fa-angle-double-right"></i> Reporte de Saldos de Inventario</small>
						</h1>
					</div>
					<!-- /.page-header -->
					
					<!-- INICIO VALIDACIONES -->
					<div th:replace="layout/layout :: validaciones"></div>
					<!-- FIN VALIDACIONES -->

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<!-- /.row -->

							<div class="row">
								<div class="col-xs-12">
									<!-- div.table-responsive modal-footer no-margin-top-->
									<div class="modal-footer no-margin-top">
									<table>
										<tr>
											<td>
												<button th:onclick="window.location.href='/mov_inventarios/reportes/rep-saldos-inventario-form'" class="btn btn-sm btn-success pull-left" data-dismiss="modal">
													<i class="ace-icon fa fa-newspaper-o"></i> Nueva Consulta
												</button>
											</td>
											<td>
												<form th:action="@{/mov_inventarios/reportes/rep-saldos-inventario-ver-pdf?format=pdf}" target="_blank" th:object="${movInventarioRep}" method="post">
													<div class="modal-footer no-margin-top"> 
														<button type="submit" class="btn btn-sm btn-primary pull-left" data-dismiss="modal">
															<i class="ace-icon fa fa-print"></i> Imprimir
														</button>
													</div>
												</form>
											</td>
										</tr>
									</table>
									</div>
									
									<!-- div.dataTables_borderWrap -->
									<div>
										<div th:each="bodega: ${listBodega}">
											<h1> Bodega: 
												<tr>
													<td class="hidden-480 small" th:text=" ${bodega.descripcion}"></td>
												</tr>
											</h1>
									
											<table id="dynamic-table"
												class="table table-striped table-bordered table-hover">
												<thead>
													<tr class = "text-center">
														<th width="10%" class="text-center">Codigo</th>
														<th width="60%" class="text-center">Producto</th>
														<th width="10%" class="hidden-480 text-center">Cantidad</th>
														<th width="10%" class="hidden-480 text-center">Costo Prom.</th>
														<th width="10%" class="hidden-480 text-center">Costo Total</th>
													</tr>
												</thead>
	
												<tbody>
													<tr th:each="saldo: ${bodega.saldoBodega}">
														<td th:text="${saldo.maestra.codigo}"></td>
														<td th:text="${saldo.maestra.nombre}"></td>
														<td class="text-right" th:text="${saldo.getCantidadFormat()}"></td>
														<td class="text-right" th:text="${saldo.maestra.getCostoFormat()}"></td>
														<td class="text-right" th:text="${saldo.costoTotal()}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<!-- 
									<div class="page-header">
										<h1> Saldo Final: 
											<tr al>
												<td class="hidden-480 small" th:text=" ${kardexFinal.saldoNuevo}"></td>
											</tr>
										</h1>
									</div>
									-->
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>

						<!-- PAGE CONTENT ENDS -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		</div>
	</div>
	<!-- /.main-content -->

	<!-- INICIO FOOTER -->
	<footer th:replace="layout/layout :: footer"></footer>
	<!-- INICIO FOOTER -->
</body>
</html>

