<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- INICIO HEAD -->
<head th:replace="layout/layout :: head"></head>
<!-- FIN HEAD -->

<body class="no-skin">

	<!-- INICIO ENCABEZADO -->
	<div th:replace="layout/layout :: header"></div>
	<!-- FIN ENCABEZADO -->

	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.loadState('main-container')
			} catch (e) {
			}
		</script>

		<!-- INICIO MENU -->
		<div th:replace="layout/layout :: nav"></div>
		<!-- FIN MENU -->

		<div class="main-content">
			<div class="main-content-inner">
				<!-- INICIO INICIO -->
				<div th:replace="layout/layout :: inicio"></div>
				<!-- FIN INICIO -->

				<div class="page-content">
					<!-- INICIO CONFIGURACION -->
					<div th:replace="layout/layout :: configuracion"></div>
					<!-- FIN CONFIGURACION -->
					
					<div class="page-header">
						<h1>Datos Empresa 
							<small><i class="ace-icon fa fa-angle-double-right"></i> Información
							</small>
						</h1>
					</div>
					<!-- /.page-header -->
					
					<!-- /.page-validation -->
					<div th:object="${datosEmpresa}" th:remove="tag">
						<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
							<li th:each="err: ${#fields.errors('*')}" th:text="${err}">
							</li>
						</ul>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<!-- /.row -->

							<div class="row">
								<div class="col-xs-12">
									<!-- div.table-responsive modal-footer no-margin-top-->
									<form th:action="@{/datos-empresa/empresa-edit}" th:object="${datosEmpresa}" method="post">
										
										<div class="form-group row">
											<label class="col-sm-1 col-form-label">NIT:</label>
											<div class="col-sm-2">
												<input type="text" name="nit" class="form-control" disabled="disabled"
													th:field="*{nit}" placeholder="NIT de la empresa" />
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-1 col-form-label">Razón social: </label>
											<div class="col-sm-6">
												<input type="text" th:field="*{razonSocial}" class="form-control" disabled="disabled"
													placeholder="Razón social" />
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-1 col-form-label">Dirección: </label>
											<div class="col-sm-6">
												<input type="text" th:field="*{direccion}" class="form-control" disabled="disabled"
													placeholder="Dirección de la empresa"/>
											</div>
										</div>
										
										<div class="form-group row">
											<label class="col-sm-1 col-form-label">Teléfono: </label>
											<div class="col-sm-2">
												<input type="text" th:field="*{telefono}" class="form-control" disabled="disabled"
													placeholder="Teléfono de la empresa" />
											</div>
											<label class="col-sm-1 col-form-label">Móvil: </label>
											<div class="col-sm-2">
												<input type="text" th:field="*{movil}" class="form-control" disabled="disabled"
													placeholder="Móvil de la empresa" />
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-1 col-form-label">Correo: </label>
											<div class="col-sm-5">
												<input type="text" th:field="*{correo}" class="form-control" disabled="disabled"
													placeholder="Correo electrónico de la empresa" />
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-1 col-form-label">Página Web: </label>
											<div class="col-sm-5">
												<input type="text" th:field="*{paginaWeb}" class="form-control" disabled="disabled"
													placeholder="Página Web de la empresa" />
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-1 col-form-label">Proyecto: </label>
											<div class="col-sm-5">
												<input type="text" th:field="*{proyecto}" class="form-control" disabled="disabled"
													placeholder="Nombre del proyecto" />
											</div>
										</div>

										<div class="form-group row">
											<button name="accion" class="btn btn-warning" type="submit"
												value="actualizar">
												<i class="fa fa-edit"></i> Editar
											</button>
										</div>
									</form>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>

						<!-- PAGE CONTENT ENDS -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		</div>
	</div>
	<!-- /.main-content -->

	<!-- INICIO FOOTER -->
	<footer th:replace="layout/layout :: footer"></footer>
	<!-- INICIO FOOTER -->
</body>
</html>